[2018-04-01 00:57] M-ace opened #274 "typo in discription"
the uranium gat cannon ammo says gat rifle in the description
![shot0028](https://user-images.githubusercontent.com/35941858/38168824-ebbd88ca-350c-11e8-96a3-b70cb984cb17.png)

[2018-04-01 08:32] Skansy opened #275 "Viarosso 2 Appartment Doors are buggy :)"
Hi there ... the 3 Appartment Doors next to the Subway entrance are a bit strange :)

Left door:
- both door-parts open when clicking the left or the right door-part 👍

Middle door:
- only the door-part i click open, the other stay closed
- when clicking one of the door-parts, both door-parts from the left appartment lift and the left door-part of the right appartment lift open

Right door:
- only

[2018-04-01 10:17] ghost commented on #24
#275

[2018-04-01 10:41] Stevil79 opened #276 "Viarosso Sec 1 secure zone - can't do tangent epic"
Viarosso sector 1 has become a secure zone so I can't draw a weapon to kill the Biotech employee for the tangent epic.

[2018-04-01 14:18] ghost commented on #275
Closing this as it's a duplicate issue since we already have an entire issue thread going about apartment doors in Issue #24 - This issue has also been referenced there.

[2018-04-01 14:18] #275 closed, assigned to nobody

[2018-04-01 19:34] cptYokom opened #277 "Gaia Mine - S.T.O.R.M. BOT"
There is something wrong here. You get to the 120 stormbot and then when you shoot him with  a full camo armor tank with full PPU buffs and a heal on you, he kills you in 3 seconds and he isn't even in sight. I just tossed in two cannon shots and boom dead. It even has an aoe affect since it killed the ppu that was just a few feet behind my tank. They both dropped in 3 seconds after I opened fire.

[2018-04-01 20:11] thejohnwick opened #278 "Mining Facility 3 Exit"
Takes you to a funky Apartment zone you can't get out of.
![2018-04-01 21_08_18-neocron classic_cr](https://user-images.githubusercontent.com/36860966/38176999-3702900c-35f1-11e8-8e28-f4303c7f677c.jpg)

[2018-04-02 09:30] brawl-uk commented on #277
Much like the mobs at mc5 and a lot if not most 120/120 mobs. PPU can't  defend its self let alone anyone else right now

[2018-04-02 15:36] ghost commented on #276
Fixed and live.

[2018-04-02 15:36] #276 closed, assigned to nobody

[2018-04-02 15:41] ghost commented on #272
I'll go through that mission text again and make some changes, etc.

[2018-04-02 16:21] Stevil79 opened #279 "Tangent Epic - Step 5 Biotech Employees"
Epic tells you to kill one Biotech Employee but you must kill two before the mission progresses and you can speak to Benjamin Kaine.

[2018-04-02 21:37] brawl-uk opened #280 "FA runner missions"
I noticed that as a FA runner the city com offers a lot of TH based mobs for kill missions but couldn't find any mutant or aggressor missions.

[2018-04-03 04:36] ghost commented on #280
With Fallen Angels being based in Tech Haven, it would only make sense for the majority of the missions to center around that area.  For example, Twilight Guardian terminal missions are with mobs based around the Canyon area (crawlers, crunchers, etc) -- Basically your Canyon Cave mobs. The Fallen Angels missions are with mobs that are found in the Tech Cores.

To get mutant-based missions, you wo

[2018-04-03 04:36] #280 closed, assigned to nobody

[2018-04-03 15:21] ghost commented on #274
Fixed.  Watch patch notes for when this is patched in.

[2018-04-03 15:21] #274 closed, assigned to nobody

[2018-04-03 15:21] ghost commented on #279
Fixed.  Watch patch notes for when this is patched in.

[2018-04-03 15:21] #279 closed, assigned to nobody

[2018-04-03 15:21] ghost commented on #272
Fixed.  Watch patch notes for when this is patched in.

[2018-04-03 15:21] #272 closed, assigned to nobody

[2018-04-03 15:22] ghost commented on #266
Fixed.  Watch patch notes for when this is patched in.

[2018-04-03 15:22] #266 closed, assigned to nobody

[2018-04-03 15:24] ghost commented on #270
Fixed.  Watch patch notes for when this is patched in.

[2018-04-03 15:24] #270 closed, assigned to nobody

[2018-04-04 21:37] Swine95 opened #281 "Electroshocker TL"
Electroshocker STR 32 MC 65 TC 40  is listed in description as TL 53 at A&W Advanced Melee Weapons Plaza 2

[2018-04-04 21:45] ghost commented on #281
@Swine95 That information, are you comparing that to information on the Wiki?

[2018-04-04 22:22] brawl-uk opened #282 "Special forces cpu"
The +10 hack bonus doesn't appear to be working on the chip

[2018-04-04 23:04] ghost commented on #282
I equipped this CPU to my runner and all of the bonus' listed on the chip took effect.

Did you try relogging to see if that solved it?

[2018-04-05 00:43] Swine95 commented on #281
The Wiki lists the correct TL of 32. I was reading the item description under show info at the store itself. Also , the Unlabeled Electroshoker STR 15 MC 37 TC 18 is described as TL 29 at the store  when  you right click it and select show info.

[2018-04-05 01:03] Swine95 commented on #281
The Unlabeled Electroshocker is properly listed on Wiki as TL 15

[2018-04-05 04:01] ghost commented on #281
The data provided by items in-game overrides what the Wiki states.  Once I get a new ItemsDB up and running, the wiki will match what the game says.

[2018-04-05 07:28] brawl-uk commented on #282
Didn't think to try that I will keep you posted

[2018-04-05 10:40] Swine95 commented on #281
It's just that the mismatch in this case is at the in-game level as both electroshokers are listed at higher TLs in-game than their respective in-game primary STR stats. Anyway just wanted to point that out.

[2018-04-06 00:09] M-ace opened #283 "embedded benchs?"
theres a  bench in the water fountain outside city admin hq

![shot0098](https://user-images.githubusercontent.com/35941858/38397634-9a554f14-38f3-11e8-9507-2461c49d0994.png)
![shot0097](https://user-images.githubusercontent.com/35941858/38397636-9dfdf24c-38f3-11e8-99e0-63a1dc6956a4.png)
![shot0096](https://user-images.githubusercontent.com/35941858/38397639-a0dee930-38f3-11e8-9805-c93d7018dc7a.pn

[2018-04-06 00:10] M-ace commented on #283
also, u get stuck on this bench and have to reset position to get out of it.  u also can see the npc's on the other side of the fountain

[2018-04-06 08:24] ghost commented on #281
Gotcha, so basically the Item TLs arn't matching the primary stat requirement.  There are _a lot_ of items like this in the game and these will be looked at during balancing.  One of the spreadsheets I'm working on will aid us in this.

[2018-04-06 08:24] #281 closed, assigned to nobody

[2018-04-06 11:41] ghost commented on #283
#159

[2018-04-07 03:34] #283 closed, assigned to nobody

[2018-04-07 06:57] Xtro1 commented on #257
Maybe the MB NPC's like it that way when i try to talk to them sometimes they seem deaf

[2018-04-07 07:05] Xtro1 opened #284 "Military Base"
Any chance of an update to the Military base retail area I think by now they would have gotten around to putting a lift or maybe an escalator in.
As it is one of the zones has its ladder on the wrong side ...likely an error due to duplicating one side on the other, for me, it just feels wrong to have ladders down to retail zones coming back up with your arms full of shopping could have serious con

[2018-04-07 09:55] ghost commented on #284
The GitHub _Issue_ Tracker is for reporting Issues and Bugs.  To make suggestions for improvements of various areas of the game, use the Brainport on the forums: https://forum.neocron.org/forums/16-Brainport

[2018-04-07 09:55] #284 closed, assigned to nobody

[2018-04-07 22:30] brawl-uk commented on #282
Bonus is working correctly now

[2018-04-08 06:07] ghost commented on #282
Awesome. Thanks for letting us know.

[2018-04-08 06:07] #282 closed, assigned to nobody

[2018-04-08 18:53] NCKryptonite commented on #277
Might be related to the shot-out body section dmg. Any dmg done after the section of the body is shot-out does a ton more. That & health-bounce isn't helping.

[2018-04-08 18:55] NCKryptonite commented on #271
Similar issue when I pass through Chester zone. I get a -50 to research, and even after passing 2 more zonelines and GRing to plaza 1, I still have the research malus. Have to relog to remove it.

[2018-04-08 19:10] NCKryptonite opened #285 "Map Missing info"
1) Colors are not shown for occupied Outposts
2) Some/Many OPs are not show GR details on map +1 showing GR details in the SE ocean
![shot0029](https://user-images.githubusercontent.com/36805039/38471399-a472f03a-3b3e-11e8-8614-f65feb41765d.png)

[2018-04-08 19:15] NCKryptonite commented on #264
Hit my PE with the holy lightning and 2 sections were shot-out. Aimed just below the waist at the crotch, which is a chest shot currently). PE had 88 enr in armor & 85 enr in con, and took 296 from 1 HL.
![hitbox](https://user-images.githubusercontent.com/36805039/38471482-9a0f629e-3b3f-11e8-8df8-508476371a1f.png)

[2018-04-08 23:12] brawl-uk opened #286 "Tech door tree"
Found a tree labelled a tech door but acts like a chair
![doorbug](https://user-images.githubusercontent.com/37263612/38473611-3a8aae1c-3b82-11e8-838f-b6036863004f.png)

[2018-04-08 23:13] brawl-uk commented on #286
shit image its north east corner of i11

[2018-04-15 13:48] Stevil79 commented on #40
Since server restart my turrets have been attacking each other. Usually until one has blown up.

I've put down replacements but the older turrets (pre-restart) just blow them up.

This is despite all turrets showing as being in clan.

Noticing the same animation problems as described above when they fire. Also, that there's no animation but the other turret is taking fire.

[2018-04-15 14:38] William-Antrim commented on #236
ive been able to force the client to crash when i right click on an item to use it (prior to selecting the activate button for medkits for example) and then press tab to close the rpos. i dont know if this is related or helps but it was all i could find for now.

[2018-04-21 03:09] cptYokom commented on #189
Holy Catharsis Sanctum also not working on team members

[2018-05-03 21:29] ghost opened #287 "Gel Use Bugged"
Setup:
Heavy Combat Eye 3, 1 Pack of Implant Gel

When you go to implant this Eye, it takes 13 units of Gel, leaving you with 7.  Cancel the implant process, re-implant it and it takes takes the remaining 7 units of gel and starts the implant process, even though it "requires" 13 units.

Also, if you have multiple containers of gel, it will finish off a container without taking units from the next

[2018-05-19 22:52] Stardustger1 opened #288 "Techhaven Anitgrav"
The long Techhaven antigrav thats going down in Sector 1 is bugged you can only move in a tiny fraction of it and if you move around to much you risk getting stuck

[2018-05-19 22:53] Stardustger1 opened #289 "Mob drop bug"
*Mutated Dog* *Mutated Rabit Dog* in *Sewer Lvl 3* drop  as if he was a mechanical Mob

[2018-05-19 22:56] Stardustger1 opened #290 "Seats at the P1 fountain"
The Seats at the edge of the Fountain in front of the City Admin HQ will bug you into the wall and you get stuck until you Relog

[2018-05-19 22:58] Stardustger1 opened #291 "No Healing from Beds"
the recreation Units in the Medi and the Beds in apartments don't actually heal you.
Your healtbar will change color like you used a medikit but your healt will not actually be healed

[2018-05-19 23:15] Stardustger1 opened #292 "Tangent Epic mission 6"
in mission 6 when it talk to andressa the mission doesn't actually progress
i can just repeat the dialog over and over again
killing the director does nothing and the mission just stops there

i have aborted and restarted the mission 3 times now

[2018-05-20 00:50] Stardustger1 commented on #292
Issue solved there is a second version of the director you have to kill inside the HQ now the 1st version sitting in the restaurant like in the mission text doesn't work for the epic anymore

[2018-05-20 09:26] ghost commented on #159
Adding a keyword for searching previous bug reports:  fountain

[2018-05-20 09:27] ghost commented on #290
Duplicate of Bug #159

[2018-05-20 09:27] #290 closed, assigned to nobody

[2018-05-20 09:27] ghost commented on #292
I've removed the BioTech Director of Operations from the HQ, _again_.  Will double check the world files to make sure he's really gone.

[2018-05-20 09:29] ghost commented on #291
Not sure if this is a source bug, or related to the storage bugs.  So I've assigned both labels to this for now.

[2018-05-20 09:30] ghost commented on #287
Just to add to this, it's not storage related at this happens on the _other_ Neocron, too.

[2018-05-20 14:36] NCC-Therenall commented on #291
Just fixed this on our side.

I also found that health gain from healing sources was not properly being affected by run/walk/sit/swim mechanics. Same goes for drug flash dissipation. All of these should also be fixed on our end now.

This will go live next patch. Going to close this for now.

[2018-05-20 14:36] #291 closed, assigned to NCC-Therenall

[2018-05-21 03:24] ghost commented on #292
I've double checked the zone files for the BioTech HQ and I've ensured that he is indeed removed.

[2018-05-21 03:24] #292 closed, assigned to nobody

[2018-06-13 07:17] Lacustat opened #293 "Gatling Pistol"
Wenn man sich die Gatling Pistol in den Belt legt, wird sie an der Brust an geheftet und zeigt nach vorn in Sicht-Richtung.

When you lay down the gatlin pistol in your belt, the gatlin pistol be shown in front of your chest.

[2018-06-13 09:19] ghost commented on #293
Duplicate of #136

[2018-06-13 09:19] #293 closed, assigned to nobody

[2018-06-13 14:48] Aeromozol opened #294 "Tangent technologies beginning quest."
First quest where you are supposed to deliver 2 packages and take 3rd.
1st package goes to Director of Operations at NEXT HQ. Nothing wrong there.
2nd package with alcohol should go to broker at Dimond real estate HQ in  plaza sector 3.
Instead of conversation broker offers apartmensts.
3nd package (should?) be obtained from Figaro at pepper park sector 3. He says that have nothig from me.

Link t

[2018-06-17 07:33] kalonji64 opened #295 "Creeper Inc NPC gives infinite Master Glove"
Hello Lykos,

I noticed the NPC in plaza1 that gives the Master Tradeskill Gloves seems to be bugged : indeed every time I reconnect or at least once a day he gives me another...   I created my runner yesterday (Runner "Kalon G" on the account "Kalonji") and he already has 3-4 gloves, so I thought I'd advise   :)

Regards,

Kalonji

[2018-06-17 17:31] ghost commented on #294
This is a duplicate of Issue #160.  Please search the issues before posting a new issue.

Also, TechHaven.org is no longer the correct place to reference when referring to Epic Runs on our server as some of them have been changed.  The correct place is https://wiki.neocron.org.

[2018-06-17 17:31] #294 closed, assigned to nobody

[2018-06-17 17:33] ghost commented on #295
If you don't have another glove in the inventory, it'll give you as many as you want.  Not really concerned about this as he's just a temporary NPC and won't be used outside of beta.

[2018-06-17 17:33] #295 closed, assigned to nobody

[2018-06-21 21:10] Nainko opened #296 "Via 3 CM: NPC"
The CM Contact NPC in the Restaurant in VIA3 does not respawn, when I need to kill him for the TG Epic, it bugged into the wall.

[2018-06-30 16:50] NCC-Therenall opened #297 "Consolidating outpost bonus bugs."
Referencing issues:
 - #171
 - #271
 - #177
 - #194
 - *Possibly related* #157

[2018-06-30 16:50] NCC-Therenall commented on #271
Closing to consolidate into #297

[2018-06-30 16:50] #271 closed, assigned to NCC-Therenall

[2018-06-30 16:50] NCC-Therenall commented on #171
Closing to consolidate into #297

[2018-06-30 16:50] #171 closed, assigned to NCC-Therenall

[2018-06-30 16:55] NCC-Therenall commented on #177
Closing this to consolidate into one issue: #297

[2018-06-30 16:55] #177 closed, assigned to NCC-Therenall

[2018-06-30 17:00] NCC-Therenall commented on #194
Closing to consolidate this with other outpost malus bugs: #297

[2018-06-30 17:00] #194 closed, assigned to NCC-Therenall

[2018-07-02 14:48] NCC-Lykos commented on #256
Fixed pending patch 63

[2018-07-02 14:48] #256 closed, assigned to NCC-Lykos, NCC-Atlas

[2018-07-03 15:28] NCC-Therenall commented on #297
@Stevil79 @M-ace @NCKryptonite @replicatorjoe @Skansy

So I have a very hard time re-producing this bug locally. It's very inconsistent. Sometimes I'll get a bonus, other times I would get a malus, a lot of times I would get nothing. It was almost random. I still randomly do and don't get bonuses, and it's doubling them up at times. It also shows up as radiation.

But, I *think* I might have fixed

[2018-07-03 15:29] NCC-Therenall commented on #121
So I'm pretty sure teams are fixed.

Can you guys test this and report back on here?

[2018-07-03 20:24] NCC-Therenall commented on #121
We had some guys test this internally. It seems like it's working, going to close this.

[2018-07-03 20:24] #121 closed, assigned to NCC-Therenall

[2018-07-04 20:27] Stevil79 commented on #297
I'm not able to replicate this bug any more tried logging out in OP zone, doing a long log out, short log out etc. Tried both above ground and UG.

Only thing I couldn't test was a crash as I'm not able to make myself crash.

Looks fixed to me because the events described above would always bring the malus.

[2018-07-05 01:42] NCC-Therenall commented on #297
Cool, thanks for the info.

There's still some things I need to fix, so the issue isn't completely done. But, at least it sounds like the malus is gone.

[2018-07-05 17:42] hinch opened #298 "Neocron City Zone BSP Issues"
The url at the bottom has a zip of all the major city zones (haven't done all subway stations, outzone yet) just focused on the main city zones.

I've screenshotted where something doesn't look right it could be texture misalignment, light map not being applied, light bleed from behind the wall, sometimes it looks like light is being picked up by an invisible poly, some zones are considerably ligh

[2018-07-05 18:08] ghost commented on #298
#113

[2018-07-05 18:14] ghost commented on #113
- [x] in plaza 1 the windows from the new shop changes the texture see screenshots
![shot0002](https://user-images.githubusercontent.com/32795552/42340262-12bd249a-807f-11e8-8e11-e9c4d07c2087.png)
![shot0003](https://user-images.githubusercontent.com/32795552/42340263-12e92f4a-807f-11e8-9bc0-c8ca46b9f9ae.png)

[2018-07-05 18:19] NCC-Lykos commented on #113
That is not a texture issue. There is a room inside there and that is a fog \ no light issue down there. It will be finished and corrected later.

[2018-07-05 18:39] NCC-Therenall commented on #298
@hinch Your link only goes to a page that says "Coming soon" :)

[2018-07-05 18:56] hinch commented on #298
yeah works now i uploaded it under a different name and forgot to rename it :) its been a long day.

[2018-07-06 17:01] NCC-Lykos commented on #219
Any update on this? Maybe a list of wasteland zones that this occurs in? I'll be closing this as unable to reproduce if nothing new.

[2018-07-06 17:02] NCC-Therenall commented on #205
Closing this as it's now an alt-tab bug.

[2018-07-06 17:02] #205 closed, assigned to NCC-Therenall

[2018-07-06 17:11] NCC-Lykos commented on #138
So, NC has always utilized the graphics card....I mean, that is kinda how it works? Also, this is months old and we cannot reproduce.

[2018-07-06 17:11] #138 closed, assigned to nobody

[2018-07-06 17:15] NCC-Lykos commented on #138
This is months old and we cannot reproduce it.

[2018-07-06 19:01] ghost commented on #286
Fixed.

[2018-07-06 19:01] #286 closed, assigned to nobody

[2018-07-06 23:23] ghost commented on #113
outzone sec 8 (jailhouse) see screenshots

- [x]  there is a floating bottle at the table from the barkeeper in the jailhouse..
_Fixed -G._

- [x] the notice at the door from the jailhouse boss is to big (near the barkeeper table)
_Fixed by Hyperion -G_

- [x] there is a table stuck in a wall near the barkeeper see screenshot
_Fixed -G._

- [x] there is floating blood at the arena in the jailhouse

[2018-07-07 00:36] NCC-Lykos commented on #278
That is called Reflection.

[2018-07-07 14:07] NCC-Lykos commented on #298
@hazuk This may be a duplicate, but he laid them all out in one go. I asked for this <3

[2018-07-07 15:47] hinch commented on #298
http://angel-photography.biz/ppoz_stations.zip

edit: fixed spelling :) stations not sations :)

[2018-07-07 15:49] hinch commented on #181
you could probably close this now the texture has at least been replaced with a high res one although still used as a whole now its high res it isn't as jarring as before so looks acceptable.

[2018-07-08 05:42] NCC-Therenall commented on #298
@hinch That's `Coming soon` Again btw 😛

Also thanks for the reports :)

[2018-07-08 05:44] hinch commented on #298
fixed the spelling. this time file was right link was wrong :)

[2018-07-08 05:49] NCC-Therenall commented on #219
I'm going to close this, so far I haven't found anyone who can reproduce the issue. If it is something we can find I'll be happy to re-open it.

[2018-07-08 05:49] #219 closed, assigned to nobody

[2018-07-08 06:09] NCC-Therenall commented on #168
I just fixed this so it should be good for an upcoming patch. Going to go ahead and close it :)

[2018-07-08 06:09] #168 closed, assigned to NCC-Therenall

[2018-07-08 06:18] NCC-Therenall commented on #202
This works fine for me?

I'm able to right click -> show info on inventory items, buy items, and sell items no problem.

Can you guys re-test by chance?

[2018-07-08 06:20] NCC-Therenall commented on #227
@NCC-Lykos is this actually a storage bug or something for balance/content?

[2018-07-08 06:22] NCC-Lykos commented on #227
Not totally sure. Popped up after storage iirc. Needs troubleshooting to make sure.

[2018-07-08 06:24] NCC-Therenall commented on #142
@NCC-Lykos / @NCC-Atlas is this still an issue, or can I close this?

[2018-07-08 14:52] NCC-Therenall commented on #122
Going to go ahead and close this. I've been trying to reproduce it but can't. If anyone else has this happen now please comment/reopen letting me know what exactly you were doing when it happened, and I'll look into it again :)

[2018-07-08 14:52] #122 closed, assigned to nobody

[2018-07-09 14:08] hinch commented on #298
http://angel-photography.biz/oz_sec_1_2.zip

Hopefully i've got the filename / link right this time 3rd times a charm so they say.
This is OZ 1 & 2 they're not too bad for object placement but almost all the light textures are fubar throughout both zones and where there's height changes the texture transitions are all kinda wrong in some area's either bleeding into different textures within the sa

[2018-07-09 18:28] NCC-Lykos commented on #298
Slow down home skillet <3 let me get some of these done lol I'll report back when I need more.

[2018-07-09 19:59] hinch commented on #298
figured i'd blitz through them all while i had some chance / time and just dump them all here then you can fix them all in your own time at least it saves you the time of searching for everything yourself or for the broken geometry i'm assuming most of the light bleeds where they shouldn't be are polys joined to faces they shouldn't be due to shitty bsp's from whoever made them originally.

[2018-07-11 12:42] #142 closed, assigned to NCC-Lykos

[2018-07-11 12:44] NCC-Therenall commented on #202
@NCC-Gnisha informed me this still happens, so I did more testing. Apparently the vendor I tested it on works. Only some vendors appear to have this problem.

[2018-07-11 21:07] #192 closed, assigned to nobody

[2018-07-11 21:07] NCC-Therenall commented on #192
This should be fixed (should have been for a while now.)

[2018-07-20 03:36] NCC-Therenall commented on #229
Just a heads up that I tracked this down to a content issue, the source part is working alright but the content is leaving out an action modifier for implant sub skill causing them to take a really long time.

Hoping it should be fixed soon / in the next patch.

[2018-07-20 10:12] NCC-Therenall commented on #195
Yeah the teams have always required you to be in the same zone as the party getting the XP :) I want to say you even have to be in local range (where the team plate and local chat start to show up.)

Closing this.

[2018-07-20 10:12] #195 closed, assigned to nobody

[2018-07-21 14:09] NCC-Therenall commented on #29
Should be fixed in an upcoming patch.

[2018-07-21 14:09] #29 closed, assigned to nobody

[2018-07-31 13:41] ronmcsw opened #299 "world map buggy"
world map showing wrong zone my apologies if you are already aware
![world map bug](https://user-images.githubusercontent.com/32025637/43463135-cf444e2c-94cf-11e8-9f00-2fdc7f3d52dc.jpg)

[2018-08-08 15:50] ronmcsw opened #300 "possible Construction bug"
ive got a bp of a hovertec key and the 4 required parts which the bp says are required a tl75 construction tool and grease,
but when i try to construct it wont do it and it says i require more parts check the bp
![image](https://user-images.githubusercontent.com/32025637/43848182-52add52a-9b2a-11e8-8185-f7a0a475306c.png)
![image](https://user-images.githubusercontent.com/32025637/43848385-bb0df24e

[2018-08-09 07:54] ghost commented on #300
@ronmcsw

You're not using the correct parts to build the item.  In your screenshot you have items with a "V#" tag on them.  Those are "Next Vehicle Componentparts".  You should be looking for "NEXT Vehicle Component" parts with a "C#" tag.

[2018-08-09 07:54] #300 closed, assigned to nobody

[2018-08-09 07:58] ghost commented on #300
Also something to add here since a lot of newer players may not be aware of it.  In order to get Item Parts 8-10, you have to recycle 2 of the lower level ones (i.e. 2x Number 7 Parts = Number 8 part; 2x 8 Parts = 9 Part).

[2018-08-16 04:04] Robo-Combyte opened #301 "ATTN: NCC-Gnisha (TT Epic Mission 6)"
I noticed in an earlier issue where the "Director Of Operations" was intentionally removed from Biotech HQ out in the open of Via Sec-1 into a sector which is now secure here:
https://github.com/NCC-Lykos/neocron-classic/issues/292

Unable to draw my weapon, this makes the TT Epic impossible.

![shot0005](https://user-images.githubusercontent.com/42428000/44186502-60facb00-a0df-11e8-9d32-4e2bd7f10

[2018-08-17 05:36] Squooshie opened #302 "Repairing lowers Dexterity"
As shown in the attached screenshot, I repaired my hovertec which caused my dex skill to drop from 14 to 0.

![repair bug](https://user-images.githubusercontent.com/10065385/44249387-ed94ae80-a1ef-11e8-8b4d-cad2896ff862.png)

[2018-08-17 18:34] ghost commented on #302
Duplicate Bug #192

@NCC-Therenall

[2018-08-18 06:32] ghost commented on #301
@Ravvex I've reset the flags on Via Rosso SEC-1 and Via Rosso SEC-3.  Can you please confirm that you're able to complete this epic?

[2018-08-18 07:17] hespora opened #303 "Mission Pools"
"Quickjob: Kill Aggressor" is in both the normal and the hard mission pool for NEXT

[2018-08-18 14:07] Robo-Combyte commented on #301
@NCC-Gnisha Yes, i was able to complete the epic after the sector was changed! Thank you very much!

[2018-08-18 15:39] #301 closed, assigned to nobody

[2018-08-20 19:15] ronmcsw opened #304 "Crahn Lightning Bolt"
i was checking the classic wiki for the next APU Module to get and saw this at TL15 when i chacked both the plaza 1 and pepper park 3 shops this was not for sale in either i commented in discord and Gnisha advised to post as it is either a wrong posting on the wiki or its a bug hope i got this right this time thanks

[2018-08-22 22:46] Robo-Combyte opened #305 "Crahn Anti-Debuff Modules"
Crahn Anti-Debuff Modules appear to only work for the caster, as me and my Father were out hunting some higher level creatures and had prepared with some abilities to remove conditions such as Poison using the "Crahn Antidote". It failed to cast upon on me and only works for my Father when used on himself even within a team.

[2018-08-25 01:11] Robo-Combyte opened #306 "[B#65] List of Bugs with recent patch."
A host of new bugs have appeared with the recent RPOS patch that makes things difficult and confusing.

- [x] Various windows (GoGuardian, Contents etc) never remains in the same area on screen defined by the user, always reverts to default location.

- [x] GoGuardian and Contents storage is scrambled, trying to select an item selects items above it, even if it's an empty slot.

- [x] GoGuardian i

[2018-08-25 08:29] Skansy commented on #306
![image](https://user-images.githubusercontent.com/32749567/44616506-74313780-a851-11e8-8847-cf465203a108.png)
Maybe all PPU Spells are listed as Electric Shock

[2018-08-25 09:48] hazuk commented on #306
i cant get out of my appartment the elevator button is broken
crosshair is buggin dont remember my rpos color its the grey one
the genrep window is broken...
can you guys please stop destroy the game ? maybe patch bugs first ?????????? before add new  stuff?

[2018-08-25 10:14] Amoney1 opened #307 "Biotech epic"
Last mission - kill the tangent director , 2 issues with this 1 via 3 is a safe zone so you cant kill the director , when it wasnt a safe zone you never got credit for the kill (pre patch)

[2018-08-25 14:44] Amoney1 commented on #306
posion stacks show up as intoxication

[2018-09-10 21:07] ghost commented on #251
Not necessarily a bug.  We just don't have anything specific that these vendors should be selling, so they're all buyers.

Perhaps further down the road we'll populate these with some specific items, but this would be during a balancing phase.

[2018-09-10 21:07] #251 closed, assigned to nobody

[2018-09-10 21:08] #233 closed, assigned to nobody

[2018-09-10 21:09] #197 closed, assigned to nobody

[2018-09-10 21:10] ghost commented on #159
This has been fixed a few patches ago.

[2018-09-10 21:10] #159 closed, assigned to NCC-Lykos

[2018-09-10 21:11] ghost commented on #154
@RorixBladewing when the server is back online can you verify if this is still an issue? I haven't been able to reproduce this.

[2018-09-10 21:32] ghost commented on #11
I've fixed two of the issues that were brought up in here.

[2018-09-10 21:41] ghost commented on #77
Fixed.

[2018-09-10 21:41] #77 closed, assigned to NCC-Camarogue

[2018-09-10 21:43] ghost commented on #143
Closing this since this epic has been confirmed working.  Current mission system bugs may be affecting some parts of this mission and have been referenced elsewhere.  Closing this out for now.

[2018-09-10 21:43] #143 closed, assigned to NCC-Therenall

[2018-09-10 21:46] ghost commented on #204
I still haven't been able to duplicate this problem and Wick hasn't DM'd me with steps to reproduce this.  Closing this for now.

[2018-09-10 21:46] #204 closed, assigned to nobody

[2018-09-10 21:57] ghost commented on #296
This has been fixed, NPC has been re-positioned slightly.

[2018-09-10 21:57] #296 closed, assigned to nobody

[2018-09-10 22:17] ghost commented on #304
Fixed.  Awaiting patching.

[2018-09-26 21:59] NCC-Lykos commented on #306
Updated the list above to show what has been fixed. Continuing to work through the list. No patch yet.

[2018-10-02 00:14] NCC-Lykos commented on #306
Going to consider this list fixed. If it is not, please reference it in a new bug report.

[2018-10-02 00:46] NCC-Lykos commented on #306
CityCom Missions are still broken on live server.

[2018-10-05 15:10] Robo-Combyte opened #308 "People list slightly off to the side."
Self Explanatory...

![image](https://user-images.githubusercontent.com/42428000/46543568-cd47ae80-c886-11e8-86d5-730553552b7f.png)

[2018-10-05 16:41] Robo-Combyte opened #309 "Sector Security in Via Sec-1 & 3"
Issues with these sectors being secure prevented Epic from being completed...

https://github.com/NCC-Lykos/neocron-classic/issues/301

[2018-10-05 20:12] Robo-Combyte opened #310 "List of Bugs/RPOS Errors"
Instead of making multiple reports, I will consolidate them into another list. Will expand as issues are found.

### Bugs:

- [x] Resists are Broken...

- [x] Copbot textures got screwed up after i died in the sewers to a Cankered Plant and then GeneRep to Plaza Sec-1. Goes away after zoning
*Snipped this -Lykos*

### RPOS Errors:
- [x] People List: https://github.com/NCC-Lykos/neocron-classic/iss

[2018-10-05 21:49] ghost commented on #310
my  //RPOS Scaling value jumped  after the latest patch [B#66]  to 1.5 and some to 2.0 ... my rpos was huge and looked terrible...  1920*1080
i changed them all to 1.0 in the config and now the rpos is looking fine again ..
no idea if this is a resolution bug or just the wrong value was set by the patch.. so i report it here maybe it will help

[2018-10-06 01:16] Robo-Combyte commented on #310
Yeah, this was just an oversight by the devs, it can easily be fixed.

[2018-10-06 05:27] quadrant2005 opened #311 "Feature Request MouseButton2 GoGuardian and other menus"
Feature request i see pressing mousebutton2 opens all menus when at a goguardian pls could you make it so pressing again would close all menus,  i guess this may work well in other places to so the mousebutton two toggles open and closed cheers regards this saves pressing F1 and Esc etc when using other menu systems would be nice to have the option to use mousebutton2 to also close them

[2018-10-06 05:32] quadrant2005 opened #312 "Bug Zone change plaza_p1 to plaza_p4"
ive found going from plaza_p4 into plaza_p1 is fine but if you go back the other way not sure if this is always at this time will follow up on this going from plaza_p1 to plaza_p4 will drop you out of the server. If there has been other issues reported like this, that could be when the player is accessing the server database i guess, i have seen this issue with mysql database etc in the past with

[2018-10-07 10:47] ghost commented on #304
Patched.

[2018-10-07 10:47] #304 closed, assigned to nobody

[2018-10-07 10:49] ghost commented on #309
Duplicate - See #307

[2018-10-07 10:49] #309 closed, assigned to nobody

[2018-10-07 10:53] MigStrobel opened #313 "Tutorial"
-No Dialogue
- Cant consturct the weapon because of laking skill
- get a 56 dex weapon that cant be used because of laking skill

[2018-10-07 10:56] MigStrobel opened #314 "If you are ingame and have like the Processor Window open F7 and click on the "?" next to the "X""
If you are ingame and have like the Processor Window open F7 and click on the "?" next to the "X" than a Window will pop up that cant be removed and the Window has nothing in it

[2018-10-07 10:57] ghost commented on #312
I've zoned between Plaza 1 <-> Plaza 4 and back numerous times and have not crashed.

A number of different things can cause the behavior that you're experiencing.  For example, if you loose sync with the server and go to zone, yu'll crash/get kicked back to login.

[2018-10-07 10:57] #312 closed, assigned to nobody

[2018-10-07 11:01] ghost commented on #314
![processorhelpwindow](https://user-images.githubusercontent.com/32779211/46581043-2f72f180-c9f6-11e8-8a6c-7c1d9356cc73.jpeg)

Unable to duplicate this.  All windows that I open and click the '?' icon, the popup window contains text and is closable.

[2018-10-07 11:01] #314 closed, assigned to nobody

[2018-10-07 16:41] NCC-Lykos commented on #311
Tab will open and close RPOS.

Right mouse is for right clicking items for more information, to use them and other functions.

[2018-10-07 16:41] #311 closed, assigned to nobody

[2018-10-07 16:45] NCC-Lykos commented on #310
Yes I apologize for the RPOS scale, I made a hard oops.

[2018-10-07 17:37] NCC-Lykos commented on #307
Will be in next patch.

[2018-10-07 17:37] #307 closed, assigned to nobody

[2018-10-08 17:05] quadrant2005 commented on #312
hi there Gnish, its when ever i go to plaza_p4 by going up the ramp by the
admin center on plaza_p1 and using the zone change up there. Ive checked
and i seem to get it every single time. I then rejoin and im then in
plaza_p4 i can go back the opposite way fine, i can reproduce this many
times ? This is the only location that i believe i ever have this happen
which i find stange, cheers regards Ri

[2018-10-13 17:40] DarkPhoenixNC opened #315 "[SFX] Nailgun Reload Sound"
Unlabeled "Pinfire" Nailgun's reload sound is ten (10) seconds long, while the reload animation and ability to fire again is about one (1) second.

I haven't had the chance to check the other's as I'm still leveling, but if they use the same sound, they will all be the same.

[2018-10-13 17:44] CockroachDickson opened #316 "Energy Halo: no visible effect on enemies"
I remember some kind of roundish lightning effect - maybe it's an nc2 feature

[2018-10-13 17:46] CockroachDickson opened #317 "Saving a screenshot doesn't work"
Even if I run the game as administrator, it doesn't work. Tried both the F12 and print key.

[2018-10-13 18:53] NCC-Lykos commented on #317
So the screenshot is saved in C:\Users\yourusername\Documents\My Games\Neocron Classic\

Can you confirm?

[2018-10-13 18:54] NCC-Lykos commented on #308
Fixed

[2018-10-13 18:54] #308 closed, assigned to nobody

[2018-10-13 18:54] NCC-Lykos commented on #310
The Copbot issue, have you had this happen again?

[2018-10-13 18:59] #3 closed

[2018-10-13 19:11] #38 closed, assigned to nobody

[2018-10-13 19:12] #27 closed, assigned to nobody

[2018-10-13 19:30] NCC-Lykos commented on #229
Implants have been fixed.

[2018-10-13 19:30] #229 closed, assigned to nobody

[2018-10-13 19:45] CockroachDickson commented on #317
Yep, my bad. Please close! :)

[2018-10-13 19:46] #317 closed, assigned to nobody

[2018-10-14 07:20] Robo-Combyte commented on #310
No, this only happened once, it may happen very rarely, but I thought I'd leave it there anyways

[2018-10-14 08:19] NCC-Lykos commented on #310
I think it was like a....random half patched error. Let's check it off for
now. If it comes back we will check into it.

On Sun, Oct 14, 2018 at 2:20 AM Combyte <notifications@github.com> wrote:

[2018-10-14 16:55] ghost commented on #113
bad placement at the new bunker in j01 see screenshot
![shot0001](https://user-images.githubusercontent.com/32795552/46919649-ac97fb00-cfe2-11e8-8f69-88963a7ff876.png)

[2018-10-14 17:14] NCC-Lykos commented on #113
You try and make a better placement with the shit tools we have for that. Literally a non issue on that one, it will be corrected as tooling gets better.

[2018-10-14 20:07] NCC-Lykos commented on #316
I was just hit with a holy energy halo and it showed the effect, is this on just the regular halo or all halos?

[2018-10-15 08:35] dutchmaestro opened #318 "Tangent Epic last mission won't start"
Dialog with FMS at Tangent HQ seems to work as expected but mission is not started/added to mission log so when you talk to Andressa in Via Rosso Sec-1 she just tells you to go away. I've tried with both mission log empty and after doing a quickjob (kill aggressor caps) to see if it resets but didn't make a difference.

There is no message that tells you why the mission won't start. Also, its not

[2018-10-15 09:30] hinch commented on #310
![shot0005](https://user-images.githubusercontent.com/2182589/46942160-a0548200-d064-11e8-9417-142480aeb051.png)

couple of bits.

- Team window missing ? icon in top right just black space.
- processor construction time line doesn't go all the way to the end of the box .
- implants scroll bar on left ? should be centered in that left hand column i believe or certainly not dropping behind the effe

[2018-10-15 14:41] Robo-Combyte commented on #310
1. Processor bar doesn't extend all the way because the number of percentage to completion goes in that empty space

2. I don't think I ever remember a "?" button on teams window, don't think it has much to explain itself about

[2018-10-15 14:57] hinch commented on #310
1) ok just looks weird
2) it may not have but then the header bar needs to extend all the way to the X otherwise you just end up with an unfinished UI with a black random box in it.

[2018-10-15 15:20] CockroachDickson commented on #316
I haven't had the pleasure yet with the holy one, but the effect is definitely missing on the two other tiers.

Update:
Ok, my fault, there is no third tier. But still: no visible effect on both energy halos. Maybe it's a driver/gpu related thing? Iam running on a amd rx580

[2018-10-15 18:32] ghost opened #319 "pimps in peper 1"
while leveling on pimps in peper 1 i found that this 2 pimps have the same spawn point or they bug inside each other after respawn... here screenshots for proof
![shot0002](https://user-images.githubusercontent.com/32795552/46970460-6c577c00-d0b9-11e8-8be8-53edeab9ba83.png)
![shot0003](https://user-images.githubusercontent.com/32795552/46970461-6c577c00-d0b9-11e8-96b2-a08d75e94b9c.png)

[2018-10-15 18:57] ghost commented on #319
The spawn points for these two particular chums have been adjusted slightly to avoid them crashing into each other when attempting to walk back to there spawn points.

[2018-10-15 19:40] NCC-Lykos commented on #319
Further redesign of the area will prevent this from happening. Will have it ready for a patch soon.

[2018-10-16 14:07] ghost commented on #113
_Screenshot Snipped. Fixed. -G_

[2018-10-16 14:11] ghost commented on #113
_Screenshot Snipped. Fixed. -G_

[2018-10-16 14:13] ghost opened #320 "Black Lilly"
she is again stuck in boxes you fixed it 2 times or more... move her to the wall. see screenshot
![shot0004](https://user-images.githubusercontent.com/32795552/47022695-56e85d80-d15e-11e8-8e43-c52f88517460.png)

[2018-10-16 14:45] ghost commented on #319
the ability to walk would be nice for them :) at the moment you can get there easy exp and money

[2018-10-16 15:46] ghost commented on #113
there are floating bushes in j03 see screenshot for location
_Fixed -G._

[2018-10-16 17:14] ghost commented on #320
Her placement is correct on my screen.

[2018-10-16 18:31] ghost commented on #320
i talked to her for a epic run after the dialog she was stuck. loged off and came back few hours later and she was still inside the boxes.

[2018-10-16 18:32] Darkeast opened #321 "Yakarma psi equip seller plaza 1"
the Psy Equip Seller at Plaza 1 don´t sell anything only buy the stuff i have

[2018-10-16 18:50] DarkPhoenixNC opened #322 "[VENDOR] Tradeskill 'Gels' - Plaza Sec-4"
None of the vendors at the Cryton's in Plaza Sec-4 sell any of the Tradeskill 'gels.'

[2018-10-16 18:57] #321 closed, assigned to nobody

[2018-10-20 18:16] dutchmaestro opened #323 "Vendors at battle dome have nothing to sell"

[2018-10-20 18:20] dutchmaestro opened #324 "Pepper park sec3 vehicle smuggler missing"

[2018-10-20 19:09] dutchmaestro commented on #323
duplicate of #225

[2018-10-20 19:09] #323 closed, assigned to nobody

[2018-10-20 19:24] dutchmaestro commented on #324
ASG in Military Base doesnt sell vehicle ammo either.

[2018-10-20 20:01] dutchmaestro commented on #324
Canyon or Outzone station
Not missing, it's intended atm

[2018-10-20 20:01] #324 closed, assigned to nobody

[2018-10-23 22:43] ghost commented on #320
She's still in the correct location here after a week, and the other runners I've seen in-game also see her in the proper location.  I've even let her respawn a few times and respawns properly.  I'll leave this open though and double check her location the next time the server restarts to make sure the server is spawning her in the initial location properly.

[2018-10-24 21:39] hinch commented on #320
just logged in to check and she's leaning against the boxes not inside them

[2018-10-25 20:51] DarkPhoenixNC opened #325 "[WORLD]OZ-2 Pillars Do Not Connect with the Ground"
![world oz-2 pillars](https://user-images.githubusercontent.com/44121743/47529563-2eefad00-d876-11e8-8706-7f01d7555b28.png)

Interestingly enough, I seem to remember this in the original beta as well.

[2018-10-28 09:58] dutchmaestro opened #326 "[MOBS] Flying launchers"
Launchers at MB go flying, not sure what triggers this behavior.
![shot0002](https://user-images.githubusercontent.com/44158433/47614461-72c5fa80-daa0-11e8-9cd2-9642c9187bee.png)

[2018-10-28 10:05] dutchmaestro opened #327 "[UI] Poison stacks display incorrectly"
Multiple poison stacks aren't displayed correctly in the UI.

![shot0012](https://user-images.githubusercontent.com/44158433/47614506-2d55fd00-daa1-11e8-9212-4d670492270f.png)

![poison_stacks](https://user-images.githubusercontent.com/44158433/47614509-3941bf00-daa1-11e8-8384-c272df5f51c2.png)

[2018-10-29 03:38] ghost commented on #327
![poisonstacks](https://user-images.githubusercontent.com/32779211/47628150-20b5c100-db02-11e8-9898-faaa03ab8c66.jpg)
No issues here.

Have you tried to use the File Check option from the Launcher?

[2018-10-29 11:11] ghost commented on #327
few days ago i had the same issue .. i tested it again today and it seems to be fixed ?? O_o
![shot0002](https://user-images.githubusercontent.com/32795552/47646259-a6258980-db73-11e8-8e1e-92e922a005c4.png)

[2018-10-29 11:15] ghost commented on #320
shes back at her position....
![shot0003](https://user-images.githubusercontent.com/32795552/47646441-36fc6500-db74-11e8-80a2-2dc184451249.png)

killed her and she respawn in boxes...
![shot0000](https://user-images.githubusercontent.com/32795552/47969723-4865d580-e07c-11e8-930a-636e31389dea.png)

[2018-10-29 11:18] ghost commented on #113
floating barrel in j02 see screenshot
_Fixed -G._

[2018-10-29 16:34] dutchmaestro commented on #327
yes, can't reproduce this anymore.

[2018-10-29 16:34] #327 closed, assigned to nobody

[2018-11-01 06:39] B3ASTMODE82 opened #328 "[Missions] Negative SL, Keeps Going Negative"
I was -33 SL did 2 easy FA missions now I am -64 SL B3ASTMODE is the char name

[2018-11-03 01:15] B3ASTMODE82 commented on #328
Haven’t logged on but any luck on this bug ?

[2018-11-03 01:15] B3ASTMODE82 commented on #328
The missions worked cause my FA faction went up.

[2018-11-03 06:21] ghost commented on #328
When any information is able to be provided on this issue it will be provided here.  All of our team work full-time jobs, and have families, not 100% of our time is able to be devoted towards this.

[2018-11-03 10:14] B3ASTMODE82 commented on #328
Ok no problem

[2018-11-04 20:44] ghost opened #329 "Biotech Employee´s Via Sec 1"
there are 2 biotech employee´s in viarosso sec 1 stuck in each other.. see screenshot
![shot0000](https://user-images.githubusercontent.com/32795552/47969626-b90bf280-e07a-11e8-8488-aad46e1cf205.png)

[2018-11-05 02:51] rhomm-dev opened #330 "Using drones messes up HUD"
## Issue

Using a drone messes up the HUD by jumbling the chat and nearby players windows, it also appears to persist these settings somewhat in the *rpos.ini* settings file.

## Reproduce by

Activating and deactivating a drone

## Screenshot

![ncc_drone_breaks_hud](https://user-images.githubusercontent.com/34965105/47975422-b9f15400-e07b-11e8-8033-e763f30ed0c1.png)

[2018-11-05 02:58] rhomm-dev opened #331 "Spy pants clip through coat"
## Issue

The spy's lower half exposes itself through the coat (graphical glitch)

## Reproduce by

On a spy go to third person and start moving, it is most easily seen with lighter colors

## Screenshot
![ncc_spy_booty](https://user-images.githubusercontent.com/34965105/47975651-b7dbc500-e07c-11e8-8913-a5fb9d5f2c67.png)

[2018-11-05 05:17] ghost commented on #331
O_o Love the layout of the issues you've posted with the different sections.

As far as the issue itself, that model has been clipping like that for #15years now. We'll make sure these models get some love. :)

[2018-11-05 05:19] ghost commented on #330
This one is most likely a side effect from the RPOS scaling changes that we've recently implemented.  Will have Zodiac take a look at this one.

[2018-11-05 13:40] rhomm-dev commented on #278
Accidentally confirmed this still happens, it appears the zone-line from Mining Facility 3 to H13 is borked.

Here is the error message and result:
![ncc_mining_facility_3_to_h13_crash](https://user-images.githubusercontent.com/34965105/48001324-3f095700-e0d6-11e8-9a41-a43255627ffd.png)

![ncc_after_h13_crash_move2](https://user-images.githubusercontent.com/34965105/48001474-ac1cec80-e0d6-11e8-808

[2018-11-05 15:03] NCC-Therenall commented on #330
Just to keep this updated: This isn't something we are probably going to put a very high priority on right now, drones aren't officially supported as they have other issues anyways.

I'll leave this issue open because it needs to be fixed, but there's other things that will probably take priority for now.

[2018-11-05 15:18] ghost commented on #320
Sending this over to @NCC-Camarogue to have him rework this model so she can be placed against the wall without her hind leg just hanging in the air.

[2018-11-05 15:21] hinch commented on #320
hind leg? she has 4 now?

[2018-11-05 15:23] ghost commented on #320
The legs/shoes.  The shoe doesn't line up with her back, so even when she's positioned with her back against the wall, the "shoe" is still inches away from the wall.

[2018-11-12 20:31] dutchmaestro commented on #318
I was able to reproduce this with another character.. Means can't get FSM access so no clan key is right?

[2018-11-14 17:28] dutchmaestro opened #332 "Faction sympathy and killing anti-city runners in city sectors"
This is just 1 example; if you kill a TG runner in a city sector (pepper park 1) then this adds to your soullight and faction symp towards your own faction (being TT). As far as I know this should also add faction symp to the other factions that are enemies of TG e.g. Biotech so this could be an issue because it doesn't work as designed?

It makes sense to me that you are rewarded in sympathy towa

[2018-11-19 15:38] NCC-Lykos commented on #326
Well...I mean...they do have rockets under them....

[2018-11-19 15:40] dutchmaestro commented on #326
can't argue with that.. also, its quite a cool party trick.

[2018-11-19 15:41] NCC-Lykos commented on #313
The tutorial is currently bugged, and half done. I'll see if I can rustle up Gnisha to finish it.

[2018-11-19 15:47] NCC-Lykos commented on #299
@ronmcsw what resolution do you play the game in? Full screen or window mode? Borderless? I need some more info.

[2018-11-19 20:20] ghost commented on #322
Fixed.  Waiting for patch.

[2018-11-20 01:45] ghost commented on #332
The current implemention of this is correct. Ran this by @NCC-Lykos to double check.

Twilight Guardian kills CityAdmin Runner, they gain Soul Light and Faction Sympathy for Twilight Guardian only.  You do missions for the other factions to boost your sympathy with them.

[2018-11-20 01:45] #332 closed, assigned to nobody

[2018-11-20 01:47] ghost commented on #154
Being unable to duplicate this issue and not hearing anything back from @RorixBladewing, I am closing this issue.

[2018-11-20 01:47] #154 closed, assigned to nobody

[2018-11-20 21:38] rhomm-dev commented on #199
This happens with the Black Dragon epic apartment as well (Pepper Park / Black Dragon)

![ncc_black_dragon_epic](https://user-images.githubusercontent.com/34965105/48804455-a7fdeb00-ece2-11e8-9763-75a5cfe41be0.png)

Possibly related I noticed the apartment also shows as "Unknown Location" on the web interface:

![ncc_unknown_location_bd_epic](https://user-images.githubusercontent.com/34965105/4892

[2018-11-20 21:48] rhomm-dev commented on #310
The clickable area to select the apartment code text field is off. It currently is something like this (red area is clickable):
![ncc_clickable_text_area](https://user-images.githubusercontent.com/34965105/48804864-c4e6ee00-ece3-11e8-987d-00ecd90bdcc3.png)

[2018-11-21 07:47] ghost commented on #329
I've look at the NPCs and according to their spawn scripts they shouldn't move.  I've killed off these particular NPCs and allowed them to re-spawn normally. I'll keep an eye on this one along with the bug report on Black Lilly (Issue #320).  I'm wondering if the world is just getting bad position data.  Will look into this further.

[2018-11-21 08:44] ghost commented on #320
Some more looking into this.  I've killed Black Lilly a handful of times with various different weapons and every time she has properly spawned.  However, when I killed her, ran into a different zone, and came back to her, her corpse was in a different position than when I left her.  Waited with her out of position corpse to repawn and she respawned out of position.

As referenced in Issue #329, I

[2018-11-21 09:51] ghost commented on #318
Confirmed this issue.  Investigating.

[2018-11-21 09:53] ghost commented on #318
@dutchmaestro In response to the "No FSM access" and no clan keys; Neocron 1 doesn't have Faction Supply Managers (FSMs).  However, once the epic run is completed, yu'll be able to purchase a clan key from the Human Resource Manager.

[2018-11-21 12:57] ghost commented on #160
I'm closing this for now.  I've re-ran this part of the Tangent Technologies epic this morning, and the display pointer correctly displayed pointing to a DRE Vendor within Plaza SEC-1.

[2018-11-21 12:57] #160 closed, assigned to NCC-Therenall

[2018-11-21 13:00] ghost commented on #140
Closing this issue for now as the Directors have been properly placed and zone security is now correct on those zones.

The issue regarding the kill count in the chat window not always being displayed is taken care of inside of another issue.

[2018-11-21 13:00] #140 closed, assigned to nobody

[2018-11-21 13:02] ghost commented on #216
Closing this issue out as a lot of these issues have been resolved and these issues not updated at the same time.

[2018-11-21 13:02] #216 closed, assigned to nobody

[2018-11-23 14:06] rhomm-dev opened #333 "NEXT epic regression"
# Issue

The NPC (Biotech Director @ Chez Sypher in Via Rosso SEC-1) for the first NEXT epic mission does not accept the mission item. It may be that the wrong NPC is spawning here or more general mission-related issues.

# Reproduce by

Attempt the very first mission of the NEXT epic

# Screenshot

![ncc_next_epic_regression](https://user-images.githubusercontent.com/34965105/48947024-baa03c00-ee

[2018-11-24 08:14] ghost commented on #333
The issue here is that the first mission of the NEXT epic isn't starting.  Similar to what's happening with the Tangent Technologies Mission #6.  Bringing this issue to the attention of @NCC-Therenall so look into as this is probably related to the existing mission system issues that we're experiencing.

[2018-11-28 05:04] ghost commented on #15
Fixed. Will be in next patch.

[2018-11-28 05:04] #15 closed, assigned to nobody

[2018-11-28 05:48] ghost commented on #28
Ran though the city sectors, noted CopBots with spawn points facing the wrong direction.  Fixed in next patch.

[2018-11-28 05:48] #28 closed, assigned to nobody

[2018-11-28 06:09] ghost commented on #55
Going to bring this one to Hyperions attention.

[2018-11-28 06:21] ghost commented on #127
This issue was fixed some time ago.  Just double checked that LoM's do work without crashing.

[2018-11-28 06:21] #127 closed, assigned to nobody

[2018-11-28 07:28] ghost commented on #315
Fixed.

[2018-11-28 07:28] #315 closed, assigned to nobody

[2018-11-28 07:37] ghost commented on #225
Reference Issue #85

[2018-11-28 07:38] ghost commented on #85
Going to go ahead and close this one out since there is a duplicate issue going with Battle Dome Vendors.  This will be addressed inside that one.

[2018-11-28 07:38] #85 closed, assigned to nobody

[2018-11-28 07:45] ghost commented on #183
Fixed.

[2018-11-28 07:45] #183 closed, assigned to NCC-Atlas

[2018-11-29 12:12] ghost commented on #55
Hyperion fixed this up :+1:

[2018-11-29 12:12] #55 closed, assigned to nobody

[2018-11-30 05:04] ghost commented on #225
Fixed.

[2018-11-30 05:04] #225 closed, assigned to nobody

[2018-11-30 05:05] #322 closed, assigned to nobody

[2018-11-30 05:21] ghost commented on #111
Fixed.

[2018-11-30 05:21] #111 closed, assigned to NCC-Camarogue

[2018-12-01 11:00] ghost commented on #136
With the return of the Neocron 1 models this is no longer an issue.  Closing this for now.

[2018-12-07 01:55] rhomm-dev commented on #136
It's still in with at least PE power armor:

![ncc_gatling_pistol](https://user-images.githubusercontent.com/34965105/49622837-1e644380-f999-11e8-90a9-e43308d349bd.png)

and possibly related, freezer rifle:

![ncc_thunderbolt_freeze_rifle](https://user-images.githubusercontent.com/34965105/49622851-2e7c2300-f999-11e8-8df3-b3346f01ef64.png)

[2018-12-07 03:35] ghost commented on #136
I've reopened this issue.

[2018-12-07 03:36] ghost commented on #136
@NCC-Camarogue

[2018-12-07 11:43] ghost commented on #102
Fixed.

[2018-12-07 11:43] #102 closed, assigned to NCC-Camarogue

[2018-12-29 17:51] #181 closed, assigned to NCC-Atlas

[2019-01-02 05:10] #157 closed, assigned to nobody

[2019-01-07 22:05] ghost commented on #147
Alright, so we talked about this internally a bit.

As per Lykos, that zone was intended to sound "busy'ish" which is why it's playing Plaza sounds and the announcements as Plaza.

[2019-01-07 22:05] #147 closed, assigned to nobody

[2019-01-08 03:39] NCC-Lykos commented on #11
@Skansy I believe I have fixed the trader shop.
![screen shot 2019-01-07 at 9 38 03 pm](https://user-images.githubusercontent.com/24256285/50808551-af924700-12c4-11e9-85e0-3bf68ceb52fe.png)

[2019-01-08 06:31] Skansy commented on #11
looks much better ... thanks :)

[2019-01-18 02:33] NCC-Therenall commented on #310
So the buy and sell numbers being stacked actually isn't a bug, but it wasn't very well done on my part I guess (I forgot about the text at the top, too.)

The window wasn't wide enough, even after widening it, to fit the reqs and the buy/sell numbers, and I didn't want to deal with widening it again at the time.

I suppose we could move them to more of the middle level (vertically) so they wouldn

[2019-01-18 03:07] Robo-Combyte commented on #310
I think with some graphical modification you could do that and move them more to the middle, but have the buy and sell text over the numbers respectively should do.

EDIT: Better yet even have them sitting next to the prices

[2019-02-02 06:19] ghost commented on #234
With updates done with the launcher, I am no longer able to duplicate this issue.

I am using Windows 10, fully updated, and am able to move the launcher window between all three of my monitors.

[2019-02-02 19:55] M-ace commented on #234
its been a while, but i think the issue was launching the game in a
different window, not the launcher placement.  but its been a while so im
not really sure.

On Fri, Feb 1, 2019 at 10:19 PM Gnisha <notifications@github.com> wrote:

[2019-02-03 01:13] ghost commented on #234
The title of the issue is referring to the launcher. The video that was also posted was a demonstration of the launcher. The game loading on a specific monitor and/or movement between screens would be a seperate issue.

[2019-02-03 16:44] M-ace commented on #234
Ok. Thanx for clarity.  Like i said its been a long time and i really dont
remember. Heart

On Sat, Feb 2, 2019, 5:13 PM Gnisha <notifications@github.com wrote:

[2019-02-04 18:14] NCC-Therenall commented on #234
This is still an issue. I have this on all of my computers with high-DPI monitors.

On my laptop, I cannot move it between certain monitors. ie: I can move it between my laptop monitor and the 4k on the right. But I can't move it to the 4k on the left, and when I try it screws up the size of the window.

I've also had this issue between my 4k and 3440x1440 monitors on my desktop.

[2019-02-04 18:19] NCC-Therenall commented on #234
Here's an example of what it does on my monitors on my laptop:

![launcher-issue](https://user-images.githubusercontent.com/32750893/52228109-83e08d80-287f-11e9-85e7-93df776f331a.PNG)
![retinope](https://user-images.githubusercontent.com/32750893/52228110-83e08d80-287f-11e9-88de-d67433ed4ca9.PNG)

Edit: To note this is in addition to it getting stuck mid-screen-transition. When it gets stuck, it d

[2019-03-05 14:59] dutchmaestro opened #334 "shortcut for seat switching in vehicles"
This is an enhancement request. Can we have a keyboard shortcut to switch seats in vehicles? Preferably one that cycles through the seats or can jump to a seat by using numbers or something similar.

We think that would make a great improvement, thanks in advance.

[2019-03-19 03:17] ghost commented on #67
Fixed. -G

[2019-03-19 03:17] #67 closed, assigned to nobody

[2019-03-19 03:17] ghost commented on #68
Fixed. -G

[2019-03-19 03:17] #68 closed, assigned to nobody

[2019-03-20 10:47] hinch opened #335 "Generep steals money :)"
This is a semi complicated bug to replicate there's a few processes involved.

- Register genereps until you have a scrollable page of genereps in your list.
- Once you have this right click generep to use as usual.
- Select a generep at the top of the list on page 1 and ensure that it says "cost" as 4000nc as you would expect.
- Now without clicking on any other genereps in that list use the mous

[2019-03-20 19:40] ghost commented on #335
Interesting find, @hinch !

[2019-03-20 19:49] hinch commented on #335
@NCC-Gnisha  no shit. you been able to replicate it?

[2019-03-22 15:05] belekamus opened #336 "Yagers Inn (TG Canyon) - not displayed correctly"
![shot0000](https://user-images.githubusercontent.com/48834006/54832302-2fbd2b80-4cbc-11e9-8f9e-3ed1d04c0b2a.png)
![shot0001](https://user-images.githubusercontent.com/48834006/54832306-30ee5880-4cbc-11e9-8bdd-8873d476fda8.png)

[2019-03-22 15:07] belekamus opened #337 "Caves (TG Canyon) cause connection problems"
After a while (tried some more/different caves) I lose connection, when I lvl in caves in TG Canyon:

![tg cave lost connection](https://user-images.githubusercontent.com/48834006/54832402-5f6c3380-4cbc-11e9-8f8e-66df145e4043.PNG)

[2019-03-22 23:19] ghost commented on #336
Can you post your PC stats? Processor, Video Card, Drivers, Windows version, etc...

[2019-03-23 14:46] hinch commented on #337
its not unique to the canyon i think in general the world/network stuff seems to be a tad off i've had loads of disconnections/stuck in sync/client just generally crashing which it never used to before this patch guess the migration of the code is still a little questionable in places.

[2019-03-24 13:55] hinch opened #338 "state effects don't carry across zonelines"
get set on fire by fire mob zone fire gone.

[2019-03-25 18:58] belekamus commented on #336
I have a Radeon RX 580, using the 18.12.3 Radeon Software (Adrenalin) on Windows 10 64Bit system.
CPU is AMD Ryzen 5 2600 and 16GB RAM.

To specify the problem a bit more: for example, when I move the mouse to the left, the "yagers inn" graphic is moving to the right. Same the thing to the other direction.

[2019-03-25 18:59] belekamus commented on #337
Ok, just thought its a bit special, since the error message mentioned the canyon map (like shown in the screenshot).

[2019-03-27 09:31] ghost commented on #336
@belekamus What resolution are you running Neocron at? If it's an custom resolution, what happens when you use one of the pre-set resolutions?

[2019-03-27 09:33] ghost commented on #335
Not yet. I still need to run around and grab some GRs to fill up my list some. Been busy with work this week.

[2019-03-27 17:03] belekamus commented on #336
Normally I use "window mode" (pre-set, which is 2560x1080 I think, since its nearly full screen, monitor/windows resolution is 2560x1080 too).

I also tried both "2560x1080x32" pre-set resolutions, which are listed double in the launcher GFX options.

I also have this issue at OPs, so its not only TG Canyon Yagers Inn:

![shot0002](https://user-images.githubusercontent.com/48834006/55096559-75159a

[2019-04-13 17:12] DaSaints opened #339 "Zoning Disconnect to Login @ Military Base"
When zoning from MB to Wasteland and vice versa disconnects will randomly occur kicking the player back to the login screen.  Recent occurance @ ~13:05-13:10 on 04-13-2019.

[2019-06-17 22:16] generalcrazy opened #340 "RPOS Citycom Runner Search truncation of every 18th entry"
When search runners under citycom the every 18th runner is missing due to truncation of the list.

Confirmed bug at the following resolutions (aspect ratios)
- 1024x768 (4:3)
- 1600x1024 (25:16)
- 1920x1200 (16:10)
- 2560x1440 (16:9)

Screenshots
- 1024x768 (4:3)
![shot0002](https://user-images.githubusercontent.com/18009311/59639337-f401f880-9128-11e9-929b-afc5e4e2582b.png)
![shot0003](https://us

[2019-07-02 20:54] Skansy opened #341 "Plaza 1 (new Update)"
a few miss placing bugs

![20190702223412_1](https://user-images.githubusercontent.com/32749567/60545864-5b6c9a80-9d1c-11e9-8120-99c12d4cdacf.jpg)
![20190702223311_1](https://user-images.githubusercontent.com/32749567/60545865-5b6c9a80-9d1c-11e9-8a06-8ed0f3fe8410.jpg)
![20190702223319_1](https://user-images.githubusercontent.com/32749567/60545866-5b6c9a80-9d1c-11e9-9fca-0694b122ddaa.jpg)
![2019070

[2019-07-04 02:02] NCC-Lykos commented on #341
These were because of a patch fubar. All fixed.

[2019-07-04 02:02] #341 closed, assigned to nobody

[2019-07-04 11:50] ghost opened #342 "Plaza1 (new update)"
- [x] ![shot0000](https://user-images.githubusercontent.com/32795552/60664499-67627480-9e62-11e9-9245-5715baefcfa1.png)

- [x] ![shot0001](https://user-images.githubusercontent.com/32795552/60664508-70534600-9e62-11e9-8b1a-6a9fb3ae664b.png)

- [x] ![shot0002](https://user-images.githubusercontent.com/32795552/60664520-777a5400-9e62-11e9-857c-42a50e399db1.png)

[2019-07-04 15:56] ghost commented on #342
I understand reporting the first two, but what's wrong with the last screenshot?

[2019-07-04 16:07] ghost commented on #342
the orange text there on the holoscreen ?! or should it be that way?

[2019-07-04 16:12] ghost commented on #342
The orange text is fine. We'll get the other 2 fixed.

[2019-07-05 00:42] NCC-Lykos commented on #337
This is general connection issues with the server after switching to x64. Waiting on our guy to look at it.

[2019-07-05 00:42] NCC-Lykos commented on #336
This is a special one, as the devs can't really reproduce it yet.

[2019-07-05 06:30] ghost commented on #257
Going to close this out now we've unveiled the new Military Base SEC-1.

[2019-07-05 06:30] #257 closed, assigned to nobody

[2019-07-05 06:32] ghost commented on #342
Fixed. -G

[2019-07-05 06:38] ghost commented on #333
So just an update on this for those following it. I've finally been able to replicate this issue locally, but its a tricky one. But we're working on it!

[2019-07-05 06:40] ghost commented on #306
Closing this as Zodiac fixed the terminal missions a few patches back.

[2019-07-05 06:40] #306 closed, assigned to nobody

[2019-07-05 07:29] ghost commented on #340
Fixed. -G

[2019-07-05 16:45] ghost opened #343 "Mark Cole / PP3"
when i shoot this mark cole npc with my cs i get a sync and get kicked into Login screen..
![shot0001](https://user-images.githubusercontent.com/32795552/60735799-ec2dbb00-9f54-11e9-8c96-c1048d0deac9.png)

here the message from the Login screen
![shot0000](https://user-images.githubusercontent.com/32795552/60735804-f5b72300-9f54-11e9-803d-04a1454a3859.png)

[2019-07-05 17:24] NCC-Lykos commented on #343
Oh, that was you crashing the damn server when I was testing lol

[2019-07-05 17:31] ghost commented on #343
yep :) btw the outfitter in plaza1 Crash the Server too

[2019-07-05 17:41] NCC-Lykos commented on #333
Fixed.

[2019-07-05 17:41] #333 closed, assigned to nobody

[2019-07-05 17:41] NCC-Lykos commented on #318
Fixed.

[2019-07-05 17:41] #318 closed, assigned to nobody

[2019-07-05 17:42] #186 closed, assigned to nobody

[2019-07-05 17:43] NCC-Lykos commented on #144
Fixed.

[2019-07-05 17:43] #144 closed, assigned to nobody

[2019-07-05 17:43] #165 closed, assigned to nobody

[2019-07-05 17:44] #320 closed, assigned to nobody

[2019-07-05 17:44] NCC-Lykos commented on #320
Closed as old issue and non priority

[2019-07-05 18:03] NCC-Lykos commented on #343
I just used the outfitter and did not have issue.

[2019-07-05 18:17] ghost commented on #343
hmmm okay then never mind... yesterday it kicked me in Login screen with Server down message. not tested after latest patch

[2019-07-06 08:56] #342 closed, assigned to nobody

[2019-07-06 08:57] #340 closed, assigned to nobody

[2019-07-06 08:57] #313 closed, assigned to nobody

[2019-07-06 10:05] ghost commented on #303
Fixed. I've removed this mission from the "normal" difficulty and kept it in "hard" as it matches other ranks of mobs for Quick Kill missions.

I've also fixed this mission on other factions, besides NEXT, that also use this mission.

[2019-07-06 14:14] thejohnwick opened #344 "RPOS Inventory item right click doesn't display menu"
All areas: Inventory, Implant and Processor windows plus Quickbelt

[2019-07-06 18:03] #344 closed, assigned to nobody

[2019-07-08 03:26] #303 closed, assigned to nobody

[2019-07-08 04:34] ghost commented on #343
Per Lykos, this should be fixed now.

[2019-07-08 04:34] #343 closed, assigned to nobody

[2019-07-08 06:03] tuxhomer opened #345 "smal text in the windows at 3840x2160 resolution"
<img width="1918" alt="nc" src="https://user-images.githubusercontent.com/13179348/60786397-b821e800-a156-11e9-848a-44083b5b0aca.png">
 The Text ist hard to read with the 3840x2160 resolution.
A UI Scale option could help.

[2019-07-08 06:09] ghost commented on #345
UI Scaling has already been implemented.
See: https://forum.neocron.org/threads/972-B-65-RPOS-Scaling-amp-Misc-Changes

You can find these options within your `My Games\Neocron Classic\settings.toml` file.

[2019-07-08 06:09] #345 closed, assigned to nobody

[2019-07-08 06:27] tuxhomer opened #346 "Options window not converted and didn't work whith the rpos.scale"
![nc1](https://user-images.githubusercontent.com/13179348/60787470-2caa5600-a15a-11e9-97de-789a752633b4.jpg)
 no text here

[2019-07-08 06:30] ghost commented on #346
So as I explained in Discord, the reason this window was probably not scaled was since it's a NC2 dialog window that still needs to be converted over to Neocron 1 RPOS style. I'm assigning @NCC-Lykos to this since he handled the RPOS conversion. After that we'll poke Zodiac about it.

[2019-07-08 06:38] tuxhomer opened #347 "No scale options for the Login screen, the info Windows for Weapons etc, the woldmap and the buff/debuff icons"
The login screen ist hard to read at the 3840x2160 resolution.

![nc2](https://user-images.githubusercontent.com/13179348/60787945-b4dd2b00-a15b-11e9-9540-220155a8927e.jpg)

[2019-07-08 07:11] tuxhomer commented on #347
![nc3](https://user-images.githubusercontent.com/13179348/60789832-5797a880-a160-11e9-9666-73ec88fff5d7.jpg)
![nc4](https://user-images.githubusercontent.com/13179348/60789833-58303f00-a160-11e9-8383-eb849ddc8937.jpg)

[2019-07-08 07:19] tuxhomer commented on #347
![nc5](https://user-images.githubusercontent.com/13179348/60790314-78143280-a161-11e9-86d1-fcabb373ab92.jpg)
![nc6](https://user-images.githubusercontent.com/13179348/60790315-78143280-a161-11e9-93ec-407bea989560.jpg)

[2019-07-08 07:21] tuxhomer commented on #347
![nc7](https://user-images.githubusercontent.com/13179348/60790415-c0cbeb80-a161-11e9-9177-6dae4da48812.jpg)

[2019-07-08 07:33] tuxhomer commented on #347
![nc8](https://user-images.githubusercontent.com/13179348/60791096-397f7780-a163-11e9-8e98-5e6bdad228f6.jpg)
 The fontsize for syncing and so on

[2019-07-08 22:37] tuxhomer opened #348 "Implants and Armor are sometimes buggy"
the calculate from the implant are sometimes buggy.
![before remove the Chip](https://user-images.githubusercontent.com/13179348/60846989-886bf200-a1e1-11e9-97f9-990cee7682fc.jpg)
let's count (example Dex)
5*4=20
20-5=15
![after remove the Chip](https://user-images.githubusercontent.com/13179348/60847075-c406bc00-a1e1-11e9-942c-60880fd19639.jpg)

[2019-07-08 22:46] tuxhomer commented on #348
after removing the special i tried to poke the MC5.
![after remove the special try to poke the mc5](https://user-images.githubusercontent.com/13179348/60847421-eb11bd80-a1e2-11e9-8ad6-90ff227d1b99.jpg)

[2019-07-09 05:38] tuxhomer commented on #348
just logged in
![just loged in](https://user-images.githubusercontent.com/13179348/60861860-0baa3980-a21c-11e9-8f04-54efeb38aa31.jpg)
I had the MC5 synap and the Special Forces cpu in my brain. Bonus in INT should be 10 not 30.
After put both chips out.
![after remove the mc5 and rare](https://user-images.githubusercontent.com/13179348/60861967-79eefc00-a21c-11e9-8074-73029fb83e1c.jpg)

[2019-07-09 08:07] tuxhomer commented on #348
![all in with trader glove buggy](https://user-images.githubusercontent.com/13179348/60870374-04d9f180-a231-11e9-833d-6f551c862270.jpg)

poke implants work
then i put one imp out and put the trader glove at inv.
Try to reimplant the imp with the trader glove this happen.
![put one out then try to reimplant](https://user-images.githubusercontent.com/13179348/60870550-626e3e00-a231-11e9-9386-c078987

[2019-07-09 08:49] tuxhomer commented on #348
![second last](https://user-images.githubusercontent.com/13179348/60873744-24741880-a237-11e9-907f-d5063e2260c4.jpg)
![second last 1](https://user-images.githubusercontent.com/13179348/60873767-2c33bd00-a237-11e9-81e7-19f5a9c1ea98.jpg)
![last](https://user-images.githubusercontent.com/13179348/60873780-335acb00-a237-11e9-9128-227bfaddd1d4.jpg)

[2019-07-09 18:32] ghost opened #349 "Stuck in Fatal Error"
While I changed my outfit at plaza1, there was an Ipv6 issue and I got disconnected. When I log in now, it causes fatal error every time. Even a teleport in another Zone didnt work. Char Name is hazuk

[2019-07-09 18:34] #349 closed, assigned to nobody

[2019-07-09 18:34] ghost commented on #349
after latest patch i can log back in .

[2019-07-09 21:41] ghost opened #350 "Connection to Nethost lost after few min"
will nc classic get this update too ? it is very frustrating "Connection to Nethost lost" after a few minutes. ipv6 Problem ?!

PATCH NOTES  NEOCRON EVO
NCE 2.3.1-10 - Xlenium
 Created on 28.12.2018 17:24:24 by NST
Technical & Client Updates
Proxy re-written: Some router had an issue with the TCP connection, the router closed the connection way to early - NC is now sending more signals so the rout

[2019-07-09 21:58] NCC-Lykos commented on #350
I deno, when they share the fix?  🤣  🤣  🤣  🤣  🤣

[2019-07-09 22:03] ghost commented on #350
go ask them :P and get the guys in your Team :)

[2019-07-10 16:00] ghost commented on #113
J09 Yutano Mine / Bed is a chair
_Fixed. -G_

[2019-07-10 16:11] ghost commented on #113
I09 / trashcan is a chair
_- Fixed. -G_

[2019-07-10 16:19] ghost opened #351 "(null) NPC in i09"
there is a npc Named (null) and without a hitbox in i09 see screenshot
![shot0000](https://user-images.githubusercontent.com/32795552/60986197-35a84c80-a33f-11e9-8661-92ae1c2258e7.png)
![shot0002](https://user-images.githubusercontent.com/32795552/60986198-37721000-a33f-11e9-9d8f-62db638e62cb.png)

[2019-07-10 18:01] ghost commented on #113
Outzone Sec 1 at the Appartment doors / lamps out of Position

![shot0000](https://user-images.githubusercontent.com/32795552/60992721-5f687000-a34d-11e9-8cd4-af73334a001d.png)
![shot0001](https://user-images.githubusercontent.com/32795552/60992722-5f687000-a34d-11e9-9418-980001550203.png)

[2019-07-10 18:13] NCC-Lykos commented on #337
This seems to be fixed.

[2019-07-10 18:13] #337 closed, assigned to nobody

[2019-07-10 18:17] NCC-Lykos commented on #348
Fixed.

[2019-07-10 18:17] #348 closed, assigned to nobody

[2019-07-10 18:25] NCC-Lykos commented on #339
Seems to be either fixed, or cannot reproduce.

[2019-07-10 18:25] #339 closed, assigned to nobody

[2019-07-10 18:41] #133 closed, assigned to NCC-Therenall

[2019-07-10 18:41] #329 closed, assigned to nobody

[2019-07-10 18:46] #319 closed, assigned to nobody

[2019-07-10 18:49] NCC-Lykos commented on #222
This was an issue with resists. Test again and report back if still an issue.

[2019-07-10 18:49] #222 closed, assigned to nobody

[2019-07-10 18:54] Darkeast commented on #285
Colors are working fine but some OP details are missplaced like sieger uplink or gabanium mine
![shot0012](https://user-images.githubusercontent.com/36099859/60996432-e10fcc00-a354-11e9-9106-287e8e1943d0.png)

[2019-07-10 18:59] Darkeast commented on #261
the weapon can´t be used after create a soldier tank and as a pe too =)

[2019-07-10 19:06] NCC-Lykos commented on #235
Either fixed or unable to reproduce.

[2019-07-10 19:06] #235 closed, assigned to nobody

[2019-07-10 19:17] Darkeast commented on #141
the bug is still aktive

[2019-07-10 20:51] tuxhomer commented on #347
![worldmap](https://user-images.githubusercontent.com/13179348/61003972-47044f80-a365-11e9-97c4-4d1f895c6fe8.jpg)

[2019-07-11 00:35] ghost commented on #237
Cast a Heal and after the Animation quickly switch to the Flashlight(use mousewheel) and you can see the old Animation for 2 Seconds. Tested with a Tank

[2019-07-11 00:41] ghost opened #352 "Power Armor Animation"
Power Armor still have NC2 Model Animation.

[2019-07-11 05:30] ghost commented on #351
Fixed. -G

[2019-07-11 11:44] Darkeast commented on #187
the mouse MUST be over the exp bar to show the exp you need for a level up. If you mouseover for exemple the word Strength it´s show the exp you need for a int level up (also for dex psi-power and con)

[2019-07-11 11:48] Darkeast commented on #202
Right Click/Show info DIDN´T open in Sell Menu

[2019-07-11 11:56] Darkeast commented on #227
got 5 SL for 1 Aggressor Captain mission

[2019-07-11 22:55] NCC-Atlas commented on #326
I experienced this today. They go flying into the air when damaged, or clip into the ground depending on what plain they were on when damaged. Does only happen very rarely.

[2019-07-12 08:06] Darkeast opened #353 "Brightness scale didn´t work in borderless"
Brightness scale at borderless mode (and yes i always press Apply changes)
![shot0016](https://user-images.githubusercontent.com/36099859/61112478-3ac6e200-a48c-11e9-809c-d5dc51f66d6a.png)
![shot0017](https://user-images.githubusercontent.com/36099859/61112568-6fd33480-a48c-11e9-8417-b6873986e3a2.png)
 Blightness scale at 1920x1080
![shot0021](https://user-images.githubusercontent.com/36099859/611

[2019-07-12 08:27] ghost commented on #353
IIRC Brightness doesn't work in any mode.

[2019-07-12 08:52] Darkeast commented on #353
on 1920x1080 it´s work for me

[2019-07-12 19:43] ghost commented on #310
Adding to the "Certain status effects have new and old graphics stacked on top of one another" -- I experienced this just now in the Aggie Cellars.

[2019-07-12 21:20] hinch commented on #310
also throw this one in here
UI thing for intoxication vanishes as does the snow but the movement impairment effects remain until you zone.

[2019-07-14 01:18] ghost opened #354 "Edit Outpost Security = Server Crash??"
Edit Outpost Security crash the Server/Zone. See Screenshot for Error Message.

![shot0000](https://user-images.githubusercontent.com/32795552/61178086-bee0ad00-a5e5-11e9-9df0-99225681c867.png)
![shot0001](https://user-images.githubusercontent.com/32795552/61178087-bee0ad00-a5e5-11e9-8f2c-4a76bd3635bf.png)

[2019-07-14 05:58] NCC-Therenall commented on #354
Yeah there was an issue with this. I fixed the crash, as well as fixed another issue with the OP security settings. They should be working next patch, will leave this open until it's tested

[2019-07-14 05:59] NCC-Therenall commented on #328
Got this fixed tonight. This should be fixed next patch, probably tomorrow.

[2019-07-14 06:58] NCC-Therenall commented on #338
We might have fixed this, I can't reproduce this locally. I've tried spawning grim chasers by a zone line, then zoning, and it's still there. Heal, zone, still there. Etc.

We should be doing a patch tomorrow, can you see if it still does it after the patch?

[2019-07-14 07:00] NCC-Therenall commented on #227
This *may* have been fixed by a bug fix I did tonight for the negative SL. Please try again after tomorrows patch.

[2019-07-14 08:41] hinch commented on #338
yep i'll check it once patch comes in

[2019-07-14 13:00] ghost commented on #113
Tree stuck in Hackterm / Crest Uplink D09
_Fixed. -G_

[2019-07-14 14:11] NCC-Therenall commented on #310
Checked off resists, because they should be working now, and we should have some nice improvements on the way this coming patch :)

[2019-07-14 14:53] ghost commented on #113
box´s are Mutant cooking pot / D07 Redrock Mine
_Fixed. -G_

[2019-07-14 18:01] NCC-Therenall commented on #335
I fixed this in a patch that will be deployed in a few minutes. It also no longer matters where you are in the scroll list, the GR you have selected will be the one displayed for warp and will be the one you are charged for and warped too. I also fixed the activate GR and warp buttons not always consistently working.

That being said, the death respawn window is a mess and half the crap doesn't wo

[2019-07-14 18:01] #335 closed, assigned to nobody

[2019-07-14 19:01] NCC-Therenall opened #355 "GR Window is creating app entries for blank spaces"
Missed this when fixing the GR window because I had enough entries to fill the window. Will be fixed soon.

[2019-07-14 19:24] NCC-Therenall commented on #355
Also the activate button still isn't disabling like it should. Will have to look at it again.

[2019-07-14 19:32] #70 closed, assigned to NCC-Lykos

[2019-07-14 21:43] ghost commented on #354
seems to working :)

[2019-07-14 21:43] #354 closed, assigned to NCC-Therenall

[2019-07-15 06:00] #351 closed, assigned to nobody

[2019-07-15 06:16] ghost commented on #200
This issue can now be closed with the rework of resists and the armor/bone/implant calculations. Bone resistances are being accounted for with the armor calculations.

[2019-07-15 06:16] #200 closed, assigned to nobody

[2019-07-15 08:22] ghost commented on #328
Confirmed this is fixed.

[2019-07-15 08:22] #328 closed, assigned to NCC-Therenall

[2019-07-15 08:36] ghost commented on #302
I do remember this bug not long after the storage update and was able to replicate with regularly. Currently, I am unable to reproduce this bug.

Going to close this for now. If it does pop back up we can reopen this issue.

[2019-07-15 08:40] ghost commented on #202
@NCC-Therenall: Trying this on one of the Cryton guys for example will duplicate this.

[2019-07-15 08:42] ghost commented on #227
I completed 3 Aggressor Captain missions, and I've received 1 SL per mission.

[2019-07-15 08:48] ghost commented on #203
Confirmed this is fixed.

[2019-07-15 08:48] #203 closed, assigned to NCC-Therenall

[2019-07-15 10:23] #227 closed, assigned to nobody

[2019-07-15 10:31] ghost commented on #302
Reopening. Therenall brought this to my attention that this does still occur.

[2019-07-15 13:28] NCC-Therenall opened #356 "Issue with implants and requirenments."
If you take a capped monk @ 45 con, implant a filter heart 2 requiring 43 con, it reduces you down to 40 con.

It appears as though you can then essentially "toggle" the implant on and off by triggering an update (ie: Clicking the + on a subskill.) It will switch to not being able to use it, removing the implant effects but keeping it implanted, to activating it again because now you can use it, r

[2019-07-15 18:28] hinch opened #357 "I think I broke the server (bug)"
ok it seems that when you flood a zone with too many entities and spam barrels on it it dc's you just to sync and then if you're lucky you can log back in or as now it seems to have either crashed the server or broke the forum/account db sync or something as now its giving me

"account not found, please check your sp" when i  try to log in.

basically get a zone get a couple of terror raptors a co

[2019-07-15 20:32] NCC-Lykos commented on #357
I cannot reproduce this. I spawned 100 terror raptors, raptors, grims, etc. I spammed barrels and nothing happened.

[2019-07-15 20:32] #357 closed, assigned to nobody

[2019-07-15 20:33] NCC-Lykos commented on #353
Brightness adjustment only works when playing full screen, not borderless or window mode.

[2019-07-15 20:34] NCC-Lykos commented on #352
You need to be clearer with this, what animation? Take a video please. What class? What PA? etc etc.

[2019-07-15 20:34] NCC-Lykos commented on #338
@hinch Any update on this? Worked for me.

[2019-07-15 20:53] ghost commented on #352
@NCC-Lykos  I mean how the Charakter is Walking , Holding a Spell  , Casting spell only with ONE Hand. I Played  a Tank back in the day and the Tanks In PowerArmor walked/movement not like a NC2 Player Model.
Go Ingame  get a Tank Charakter and Walk ,Cast a spell and stuff like this without  a PA and after this Wear a PA and do the same Things.  You can see the Diffrence Instantly ! My English is

[2019-07-15 21:09] hinch commented on #338
@NCC-Lykos  not been able to test sorry it booted me out see: connection issue/server crash bug thing and won't let me log back in.

[2019-07-15 21:14] ghost commented on #357
@NCC-Lykos he crashed the Server 3-4 times. i was playing and lost my car in the wastelands while Server crash

[2019-07-15 23:19] NCC-Therenall commented on #357
Maybe, but for now we can't really reproduce it despite trying. How do you know it was him that specifically crashed it? All sorts of things can crash it, it's not exactly the most stable thing, lol.

Further I can't think of anything that would alter account names or break that system from this. The process that handles login is an entirely separate process from the one that handles world data. N

[2019-07-15 23:28] ghost commented on #352
https://github.com/NCC-Lykos/neocron-classic/issues/136

[2019-07-16 00:04] ghost commented on #352
Issue #136 is a separate issue and is not related.

[2019-07-16 00:22] NCC-Lykos commented on #352
Honestly, it would be a lot of work to roll it back or fix. We do have other things on the plate and it isn't really an awful issue....I wouldn't even call it an issue as much as a preference. I'm going to close this as not an issue, we may revisit it later but for now we're leaving it alone and fixing other bugs.

[2019-07-16 00:22] #352 closed, assigned to nobody

[2019-07-16 00:23] NCC-Lykos commented on #338
We closed that issue as we have not been able to reproduce it. Can you email me lykos@neocron.org and I will look at your chars \ account?

[2019-07-16 06:44] ghost opened #358 "ASG Vehicle Window Size"
## Issue

The Vehicle window at the ASG is too big. See screenshot.

## Reproduce by

Visiting an ASG.

## Screenshot

![VehicleWindow](https://user-images.githubusercontent.com/32779211/61271804-325ff700-a76b-11e9-8ad2-e20d6579e72e.png)

[2019-07-16 14:01] NCC-Lykos opened #359 "Test issue"
Just a test issue. Disregard.

[2019-07-16 14:05] NCC-Lykos opened #360 "Test Issues"
Just a test issue, disregard.

[2019-07-16 15:50] hinch commented on #338
right i did manage to get back on late last night for an hour the account seemed to start working again  after 6 hours of not letting me in :(

anyway working now and i've tested state effects carrying across zones and into caves etc too and it all seems good and working (certainly for direct affector states)

However I'm not convinced sanctum spells carry across zones, the animation certainly is

[2019-07-16 15:52] hinch opened #361 "People in local zone ui element won't resize"
In a previous patch I increased the height of my people in local zone ui element using the draggy up and down thing in the top right.

Now it won't save the change if i shrink it back down each time i restart the client its back to hits half the height of the screen size :)

[2019-07-16 16:04] NCC-Therenall commented on #338
I'm unsure what could have happened with your account. I've looked into it and can't find anything. The processes that handle this are entirely separate from the game server, and the game server does nothing with your account. I looked at your account last night, and couldn't find anything wrong with it. So it's pretty bizarre. Absolutely nothing in the neocron source code as a whole changes your

[2019-07-17 00:15] NCC-Therenall commented on #355
This is fixed in an upcoming patch.

[2019-07-17 00:15] #355 closed, assigned to NCC-Therenall

[2019-07-17 04:02] NCC-Lykos opened #362 "Yay test"
TEst!!!

[2019-07-17 19:20] ghost commented on #113
D 06 / fences are Rock Chairs
![shot0002](https://user-images.githubusercontent.com/32795552/61404845-b1267280-a8d8-11e9-8f6b-2c58b830bcba.png)
![shot0003](https://user-images.githubusercontent.com/32795552/61404849-b1bf0900-a8d8-11e9-85b5-326836197aa4.png)

[2019-07-17 20:55] hinch opened #363 "New forum is busted and support osticket site is "offline" so i can't submit it there"
I take it the new forum isn't hooked to our accounts as the old php one was? because apparently my account doesn't exist any more and I can't create a new account as it just keeps giving me this error.

And yes before you ask cookies are enabled and not blocked.

old login and account still work on the main account website etc can you please just link the forum user db to this db as before save ha

[2019-07-17 21:16] NCC-Lykos commented on #363
Can you try the new forums again? You will need to register on the new forums as we did not move accounts. https://boards.neocron.org

We will be enabling SSO at some point, but right now our portal is in need of a rewrite because our maintainer left the project long ago. If you signup with the same email you used on the main site, when we enable SSO it will auto link the account.

[2019-07-17 21:20] NCC-Lykos commented on #363
We are aware of the osTicket site being offline. Our mailserver setup is quite unique and osTicket has no support for it. We are currently looking into a different ticketing system that will work with our current mail setup, and that may integrate with the game. We will post an announcement when that is ready to go.

[2019-07-17 21:21] hinch commented on #363
for ticketing systems look at supportpal (or change your mail server setup :) perhaps try mailcow)

as for the boards still won't let me reg "We cannot detect if your account was created, please ensure you have cookies enabled." still

[2019-07-17 21:30] NCC-Lykos commented on #363
You are registering ON the boards correct? Like, signup for a new account? I just did it in a private tab and it worked flawless.

1. Go to https://boards.neocron.org
2. Click on Sign Up
3. Fill out info
4. Click Create New Account
5. Click link that was emailed to you
6. .....?
7. Profit

As for ticketing, we are not interested in changing the mail server setup. We are using mailgun for routing a

[2019-07-17 21:36] NCC-Lykos commented on #363
@hinch What browser and plugins are you using that gets the error? I might have found a connection.

[2019-07-17 21:54] hinch commented on #363
@ NCC-Lykos  yes i am registering ON the boards sarcastic fucker :)

chrome, CORS extension, tamper monkey and restlet client (restful webservices tester)

as for the ticketing stuff I use supportpal via aws SES services (also free up to something like 1 million emails a month) and it works just fine for both sending via SES and I have inbound mail boxes that it checks too for accepting email tick

[2019-07-18 02:21] NCC-Lykos commented on #363
So the two Chrome clients having issues, have no extensions in common honestly.... just that its Chrome... the developers are aware of the issue and blame it on Extensions... You should be able to register in a private browsing window. For shits and giggles, can you register at https://try.discourse.org ?

[2019-07-18 09:02] hinch commented on #363
worked fine on try.discourse.org using exactly the same browser and plugins,
so its something specific to your configuration i'd say you've not still got the cookies being assigned to your testing domain and they haven't switched over when you've come to the live domain but its checking the live domain cookie ownership so it can't verify the cookie data. Although why its using cookies during a reg

[2019-07-19 01:18] NCC-Lykos commented on #363
So, there was never a testing domain. The testing domain was boards.neocron.org, and we went live with that address. There is no setting for cookie domain, and we have boards.neocron.org set properly in the configuration. As for why it is using cookies during registration....that is a question for the developers. There is a thread on this issue here -> https://meta.discourse.org/t/we-cannot-detect

[2019-07-19 11:05] hinch commented on #363
Looks to be a CORS problem if i had to guess. looks like the path isn't in the allowed script source so its blocking it being loaded in default chrome.  for some reason though when chrome is in private browsing mode it doesn't do the cors checks any more.

boards.neocron.org/:1 Refused to load the script 'https://boards.neocron.org/cdn-cgi/apps/head/QNWX_8GN-3K7wUr6Qa73LdoD3JI.js' because it viola

[2019-07-19 16:42] NCC-Lykos commented on #363
@hinch Could you try again? We made a setting change...

[2019-07-19 17:44] hinch commented on #363
still the same end result although the CORS problem now seems to be fixed (at least i'm not seeing the errors in debug now and its correctly calling the script now.)

did you set the autocomplete=discourse on the username field as per that discussion thread on the discourse forums?

if so i'd try disabling autocomplete on the signup form completely rather than even specifying it but you can only d

[2019-07-21 01:53] DarkPhoenixNC opened #364 "[UI] Drop All Button Click Box"
The clickbox for the Drop All button does not extend to the end of the visual button.

Pic show the button not lit up and the edge of the clickable area.

![Drop All](https://user-images.githubusercontent.com/44121743/61586045-c8639b00-ab38-11e9-94db-0e181a0010ad.png)
Resolution: 1920x1080

[2019-07-21 01:55] DarkPhoenixNC opened #365 "[UI?] Mob Name Errors"
Was mobbing in CRP and noticed a few dozen Raptors of various types flying around. The one in the following pic caught my eye. Managed to find 3 others with the same name error.

![Mob Name](https://user-images.githubusercontent.com/44121743/61586059-18daf880-ab39-11e9-8c19-e372cb99e1fd.png)

[2019-07-21 01:58] DarkPhoenixNC opened #366 "[WORLD] G13 Desert - Random Terrain Spike in Road"
(Do ya'll have terrain editing available?)

This has been around since the beginning. G13 Desert, following the road, at the location pictured, ya'll come across a random spike in the world. Looks like an accident since you can't jump vehicles in this game.

![World Bump](https://user-images.githubusercontent.com/44121743/61586081-69eaec80-ab39-11e9-9f73-b673d7fbe986.png)

[2019-07-21 06:13] ghost commented on #366
Yet. Can't jump vehicles in this game, _yet_.  (This is totally a joke)

There are a few of these throughout the game world that need to get fixed.

[2019-07-21 21:30] DarkPhoenixNC opened #367 "[MOBS] Point Red Empty Spawn"
Ran through all of Point Red dungeon. No spawns of any kind.

[2019-07-22 00:47] ghost commented on #367
I just ran though Point Red and it's spawned as normal.

When you first enter a zone that hasn't been online in a while, it takes a few for the zone to spawn.

[2019-07-22 00:47] #367 closed, assigned to nobody

[2019-07-22 01:08] NCC-Lykos commented on #365
Not really 100% sure what is going on with the name. We spawned raptors for testing and then attempted a zone clear. It failed and the raptors remained. It may be an issue with that? Whenever I have the issue a relog clears it up. This is the part of the netcode sending incomplete packets or packets being lost I suppose.

[2019-07-26 23:29] DaSaints opened #368 "Recycled Ammo Drag to Weapon Causes Total Loss"
- Recycled a batch of ammo using junk.
- Dragged completed ammo from processor window (result) into weapon to reload different elemental ammo.
- Weapon gets reloaded with new ammo but looses recycled stack.

[2019-07-29 12:22] NCC-Therenall commented on #368
So two questions:

 - For clarity, when you say it loses the recycled stack: Let's say you recycle ammo and it gives you 30 stacks of whatever in the result, you drag that from the result to the weapon, it loads the weapon, and then disregards the entirety of what's left in that stack of 30?

 - Second: Does this also happen if you first drag the recycled ammo from the processor result to the main

[2019-07-29 12:30] NCC-Therenall commented on #365
I actually doubt it's packet loss. This bug has been around for a while on ours (and I seem to remember it being an issue on the retail game way back at some point too.)

I could see it being memory corruption on the client or server. I'll have to do some debugging and figure out if this is client side or server side. Given a relog fixes it, it almost sounds like a client side issue, or an issue w

[2019-07-30 10:54] Rudelgurke commented on #241
I add it here:
Another problem is, that drugs, zoning, leveling up, etc. cause CR drops to "normal weapon CR".
It's often used for exploits because rewards (cash from mobs) are much better with low CRs.

[2019-07-31 03:01] DaSaints commented on #368
Correct to your first question.  When I drag the finished "30" ammo count straight into the quick slots, it will reload the weapon but "delete" the remaining stacks.

If I drag them first into the inventory (F2) and then move them into the weapon it will decrement correctly and keep the remaining stack in inventory.

[2019-07-31 20:25] NCC-Therenall commented on #368
Thanks, sounds like it's just not defaulting to tossing it back into the inventory for some reason, or there's a bug preventing it from properly doing so, and so the stack just ends up being deleted.

I'll have a look at this once I finish my current project.

[2019-08-09 20:50] Swine95 opened #369 "Graphics glitch at Northstar generep"
Noticed some odd shapes at the generep  look like fragments from sky tiles maybe
![shot0027](https://user-images.githubusercontent.com/36565438/62808299-15021c80-bace-11e9-8e83-f893c7cb2ae7.png)

[2019-08-10 19:48] Slipstream38 opened #370 "NC Cannot Character"
Hi,
On my account Slipstream38, I have a Character named bArter Bart. Since this morning after trying to research a hovertech key I cannot longer log in to this character. All other Characters on the account are working. Symptom started when I researched an item would get to 99-100% then I would get booted from the server with the error I emailed you. I would login then start the research item aga

[2019-08-10 21:03] NCC-Lykos commented on #370
What item were you researching?

[2019-08-10 23:28] Slipstream38 commented on #370
A hover tech key got one bp was trying to make three more. And kept failing with me getting booted off. Yesterday I tried to bp a tl44 assault rifle. After zoning I was able to make a bp

Thank you,
Edited by Gnisha removed personal info
________________________________
From: Lykos <notifications@github.com>
Sent: Saturday, August 10, 2019 2:03:13 PM
To: NCC-Lykos/neocron-classic <neocron-classic@

[2019-08-10 23:32] ghost commented on #370
Dont post personal info here. Everyone in the world can see it.

[2019-08-19 23:12] NCC-Lykos commented on #370
@Slipstream38 Please verify if this is still an issue.

[2019-08-20 00:18] Slipstream38 commented on #370
Hello Lykos,

Yes, the issue is still happening, tried several times this afternoon.

Thank you,
Chris Peck
Phone: 310.442.0050
Chris@NeonFlux.net<mailto:Chris@NeonFlux.net>

From: Lykos <notifications@github.com>
Sent: Monday, August 19, 2019 4:13 PM
To: NCC-Lykos/neocron-classic <neocron-classic@noreply.github.com>
Cc: Chris Peck <chris@neonflux.net>; Mention <mention@noreply.github.com>
Subject

[2019-08-20 00:45] Syn74x opened #371 "Not a chair"
Found a bugged sign in the con center

Thinks it's a chair ... silly sign ...
![shot0000](https://user-images.githubusercontent.com/54295839/63308780-d7fe0d00-c2b9-11e9-8c41-d93aa17c2d2e.png)

[2019-08-21 20:58] Dreab79 opened #372 "Salvage disconnections"
When trying to salvage an item that sells for 0 NC (in this case Chitin and Poison Glads) the game will allow you to start the salvage, but just as it hits 100% it will disconnect me, and the salvage process will automatically start again when logging back in, forcing me to stop the salvage before it finishes or I get disconnected again.

This may be more than just 0 NC items. I attempted to salva

[2019-08-21 21:02] Dreab79 commented on #372
This may be more than just 0 NC items. I attempted to salvage "Limbs" and the same thing happened as previously stated.

[2019-08-21 23:33] NCC-Therenall commented on #372
I believe this may be related to an issue we currently have with tradeskills atm. We're looking into it.

Thanks

[2019-09-18 03:46] joeyppu opened #373 "vehicle not despawning"
vehicles do not despawn even after 1 day.

[2019-09-18 03:47] joeyppu opened #374 "drone vendor"
is there any drone vendors in the game?

[2019-09-18 04:24] ghost commented on #374
No. The bug tracker is not a place for asking questions; but rather for reporting bugs.

[2019-09-18 04:24] #374 closed, assigned to nobody

[2019-09-18 04:25] ghost commented on #373
What zone was the vehicle last seen in?

[2019-09-18 05:03] joeyppu commented on #373
Cycro. Next to the op gr. Also when I looted items and dropped them on the ground they did not disappear even after several hours.

Sent from my iPad

[2020-07-16 06:50] generalcrazy opened #375 "Wrong exit location - Abandoned Basement Lvl. 2 Entrance in PP1"
Went you leave Abandoned Basement Lvl. 2 in PP1 you exit at the Sewer Lvl 3 Entrance by the Neocron subway in PP1 instead of back at the Abandoned Basement Lvl. 2 Entrance inside A&W.
![image](https://user-images.githubusercontent.com/18009311/87636556-f14c4b00-c70e-11ea-8cd5-26c5a5a54586.png)
![image](https://user-images.githubusercontent.com/18009311/87636610-075a0b80-c70f-11ea-9abd-b16f67612c8b

[2020-07-17 02:38] NCC-Lykos commented on #375
Fixed for next patch.

[2020-07-17 02:38] #375 closed, assigned to nobody

[2020-07-17 02:41] NCC-Lykos commented on #371
Fixed for next patch

[2020-07-17 02:41] #371 closed, assigned to nobody

[2020-07-17 02:44] NCC-Lykos commented on #277
This should be fixed now that resists are fixed.

[2020-07-17 02:44] #277 closed, assigned to nobody

[2020-07-17 19:43] NCC-Lykos commented on #11
Fixed for next patch

[2020-07-17 19:43] #11 closed, assigned to NCC-Camarogue

[2020-07-17 19:50] NCC-Lykos commented on #24
As the forum thread is gone, I have fixed the Viarosso doors and the Tech Haven doors will wait until a redesign.

[2020-07-17 19:50] #24 closed, assigned to nobody

[2020-07-17 20:24] NCC-Lykos commented on #65
Fixed in next patch

[2020-07-17 20:24] #65 closed, assigned to NCC-Lykos

[2020-07-18 20:47] Wastelandscum opened #376 "Invisible wall at J-01 blasted bunker"
See below, red line illustrates about where it is. I'm running my character sideways to the right into it. With a little finesse you can get stuck in it and have to wiggle out crouching and jumping.

![invwall](https://user-images.githubusercontent.com/68479899/87861659-27e7b880-c8fd-11ea-9255-54083af7fc55.png)

Opposite facing for locating, just realized I didn't have my map open but I took two d

[2020-07-18 20:51] Wastelandscum commented on #326
I think they _should_ go flying, personally.

[2020-07-18 22:30] Wastelandscum opened #377 "Sector map text display issue"
See below, sector display map displays "No map available" in the wrong location. UI scaling on default settings.

![textdisplayissue](https://user-images.githubusercontent.com/68479899/87863004-35a43a80-c90b-11ea-9950-29a4105e972d.png)

As you can see, the text is printed in the upper left of the RPOS regardless of the sector map location, but disappears when RPOS is closed.

![textdisplayissue1](

[2020-07-18 22:39] Wastelandscum opened #378 "H_04 minor error with world"
This barrel in H_04 thinks it's a chair. Posting as I only mentioned it on discord previously.

![image](https://user-images.githubusercontent.com/68479899/87863114-7c466480-c90c-11ea-9526-c1b353c53e8b.png)

![image](https://user-images.githubusercontent.com/68479899/87863121-8b2d1700-c90c-11ea-9601-5c4a9bd487ad.png)

[2020-07-18 22:42] Wastelandscum opened #379 "Minor sewer level 1 world terrain issue"
In sewer level 1, in Plaza 1 for instance,  you can become stuck here frictionless sliding horizontally back and forth along the 'crack' and can't get out without set reset_postion command.

![image](https://user-images.githubusercontent.com/68479899/87863159-17d7d500-c90d-11ea-8bd4-1f4e2dc318b7.png)

[2020-07-18 22:43] Wastelandscum opened #380 "Monk model not positioned properly on speedbike"
See below

![image](https://user-images.githubusercontent.com/68479899/87863187-7309c780-c90d-11ea-8648-6ea1085029e2.png)

[2020-07-18 22:44] Wastelandscum opened #381 "FFS I made a duplicate on error how do I remove this"
See below

![image](https://user-images.githubusercontent.com/68479899/87863187-7309c780-c90d-11ea-8648-6ea1085029e2.png)

[2020-07-18 22:45] #381 closed, assigned to nobody

[2020-07-18 22:47] Wastelandscum opened #382 "Sector I_02 worldchange position error"
You can drive off the edge of I_02 in the Northwest corner. Posting here as I only had this on the discord previously.

![image](https://user-images.githubusercontent.com/68479899/87863229-cc71f680-c90d-11ea-86f9-4592b26cbe0a.png)

[2020-07-19 03:58] Wastelandscum opened #383 "floating chair in Cityadmin HQ"
Is this too much? Should I stop?

Numerous chairs in offices on every floor, besides the first floor, are floating. More than a dozen as I started wandering around to check.
![image](https://user-images.githubusercontent.com/68479899/87866619-e37a0e00-c938-11ea-8ab4-4e2fa6a33593.png)

[2020-07-19 04:15] Wastelandscum opened #384 "floating computer terminals in Tangent HQ"
Floating computer terminals on every floor in Tangent HQ
![image](https://user-images.githubusercontent.com/68479899/87866882-bd09a200-c93b-11ea-8323-3770b55196c7.png)

[2020-07-19 04:28] Wastelandscum opened #385 "Floating monitors in Biotech HQ"
See below, seems like a copy paste on the furniture used in other HQs as well.

![image](https://user-images.githubusercontent.com/68479899/87867044-9ba9b580-c93d-11ea-9a3d-4551b2fe31a4.png)

[2020-07-19 04:36] Wastelandscum opened #386 "Venture warp Via Rosso 1 - NPCs are facing wrong direction"
See below

![image](https://user-images.githubusercontent.com/68479899/87867133-b2044100-c93e-11ea-87a0-ae18e00b1119.png)

[2020-07-19 04:40] Wastelandscum opened #387 "Plaza 4 Medicare NPCs facing wrong direction"
See below

![image](https://user-images.githubusercontent.com/68479899/87867158-2343f400-c93f-11ea-9198-dc7f4f2b7b95.png)

[2020-07-19 04:47] Wastelandscum opened #388 "Cryton's Tech Tools Plaza 4 Store Manager facing wrong way"
See below

![image](https://user-images.githubusercontent.com/68479899/87867286-3f946080-c940-11ea-943d-e8e6314479b8.png)

[2020-07-19 04:57] Wastelandscum opened #389 "Diamond Real Estate NPCs facing wrong way and missing doors"
See below

![image](https://user-images.githubusercontent.com/68479899/87867421-82a30380-c941-11ea-8cf2-f34e15f0a7f8.png)

appears to be missing a door on this entry as well when compared to the rest of the hallway...

![image](https://user-images.githubusercontent.com/68479899/87867434-93537980-c941-11ea-8965-cf12c19281fe.png)

[2020-07-19 05:11] Wastelandscum opened #390 "Strippers in Pepper Pub (Pepper Park 2) are facing wrong way"
See below

![image](https://user-images.githubusercontent.com/68479899/87867604-8f285b80-c943-11ea-9666-56316276cd5b.png)

[2020-07-19 05:53] Wastelandscum opened #391 "Models needing refreshing"
MB Guards.
![image](https://user-images.githubusercontent.com/68479899/87866423-a745ae00-c936-11ea-9580-1b75413f658f.png)

Male Vendor MB Archer & Wesson Advanced Melee Weapons.
![image](https://user-images.githubusercontent.com/68479899/87866465-e7a52c00-c936-11ea-9d23-1c222b147520.png)

Female Vendor MB Archer & Wesson Armor.
![image](https://user-images.githubusercontent.com/68479899/87866473-0

[2020-07-19 05:57] Wastelandscum commented on #384
Disregard this, it seems to be more endemic than just one HQ

[2020-07-19 05:57] #384 closed, assigned to nobody

[2020-07-19 05:58] Wastelandscum commented on #390
pointless, ignore.

[2020-07-19 05:58] #390 closed, assigned to nobody

[2020-07-19 19:34] Wastelandscum commented on #385
I checked anywhere in NC that uses this setup of table and computer monitor/terminal... the monitor is floating above the desk. Every one of them in HQ's and retail shops.

[2020-07-20 02:58] Wastelandscum opened #392 "Twilight Guardian Canyon vendors bugged"
All the vendors in the Northeastern most vendor area area are buy all's and sell nothing.
![image](https://user-images.githubusercontent.com/68479899/87895356-11735700-c9fa-11ea-8f78-4ae24992a035.png)

![image](https://user-images.githubusercontent.com/68479899/87895385-2354fa00-c9fa-11ea-8e26-811217802e73.png)
![image](https://user-images.githubusercontent.com/68479899/87895393-29e37180-c9fa-11ea

[2020-07-20 03:42] Wastelandscum commented on #391
Twilight Guardian Guard
![image](https://user-images.githubusercontent.com/68479899/87894428-9a3cc380-c9f7-11ea-9ec9-3812cf8de541.png)

Twilight Guardian female NPC near Canyon Apartments 2
![image](https://user-images.githubusercontent.com/68479899/87894495-c9533500-c9f7-11ea-912a-ada46b7c3e48.png)

Twilight Guardian femail NPC at Yager's Inn
![image](https://user-images.githubusercontent.com/684

[2020-07-20 03:43] Wastelandscum commented on #392
There's no where to buy medkits or stam boosters currently that I can find, as well.

[2020-07-21 02:09] Wastelandscum opened #393 "Canyon facility stairs minor issue"
The supports for these stairs do not extend across the canyon gap.

![TGcanyon stairs](https://user-images.githubusercontent.com/68479899/88004741-8313d980-cabc-11ea-88ca-c8603adbebb8.png)

[2020-07-21 02:41] generalcrazy commented on #380
A spy's is seated correctly but their hands are in wrong position.

With PA- both hands are off the hand grips
![image](https://user-images.githubusercontent.com/18009311/88006225-283cab00-cad9-11ea-9f97-e6e7f0f6dfc6.png)
![image](https://user-images.githubusercontent.com/18009311/88006399-89fd1500-cad9-11ea-98bf-9174f9533dd7.png)
![image](https://user-images.githubusercontent.com/18009311/8800626

[2020-07-23 00:47] ghost commented on #113
when you move left and right while watching this barrel it disappier at the outzone station

![shot0003](https://user-images.githubusercontent.com/32795552/88242798-a0000680-cc8e-11ea-97bc-765e39f02957.png)

![shot0004](https://user-images.githubusercontent.com/32795552/88242844-cc1b8780-cc8e-11ea-897b-01b502f4dc51.png)

it is on this side at the station see screenshot
![shot0000](https://user-ima

[2020-07-23 00:49] ghost opened #394 "Ingame Music Missing"
The Ingame music is gone only mainmenu is playing

[2020-07-23 00:51] ghost commented on #65
@NCC-Lykos see #113 last post

[2020-07-24 02:02] Wastelandscum opened #395 "Swampcave entry bounding box in F_03 not aligned with model"
This allows for items to become lost within the bounding box.

![image](https://user-images.githubusercontent.com/68479899/88354791-f4e75f80-cd16-11ea-80c2-bfe0efd764c7.png)

![image](https://user-images.githubusercontent.com/68479899/88354826-12b4c480-cd17-11ea-92ad-3c3eeece8473.png)

[2020-07-31 04:21] Wastelandscum opened #396 "Military Base Archer & Wesson missing pistol ammo vendor"
Military Base Archer & Wesson missing pistol ammo vendor

[2020-09-09 18:32] NCC-Lykos commented on #363
This should be resolved @hinch

[2020-10-24 01:38] NCC-Therenall commented on #302
This should be fixed in an upcoming patch. When you very high repair (>150) it would cause the XP gain to go negative.

[2020-10-24 01:38] #302 closed, assigned to NCC-Therenall

[2020-10-26 02:32] ghost opened #397 "Viarosso Subway"
you still get stuck when you leave the subway after latest patch [1.1.9] Lots of stability fixes.
![shot0002](https://user-images.githubusercontent.com/32795552/97128122-c759ea00-173b-11eb-8a31-591f47f6e91d.png)
![shot0000](https://user-images.githubusercontent.com/32795552/97128118-c3c66300-173b-11eb-9587-dc629d155826.png)

[2020-10-26 02:36] ghost opened #398 "Npcs with Chair"
All Npcs in the world with a Chair are buggy after latest patch [1.1.9] Lots of stability fixes. See Screenshots
![shot0002](https://user-images.githubusercontent.com/32795552/97128343-5ff06a00-173c-11eb-818c-dfe34d14de3c.png)
![shot0000](https://user-images.githubusercontent.com/32795552/97128336-58c95c00-173c-11eb-8673-82b900ac1bd6.png)
![shot0001](https://user-images.githubusercontent.com/32795

[2020-10-26 02:39] ghost opened #399 "Door Access Button"
i think all door access buttons are buggy tested 5 and all of them dont work after latest patch [1.1.9] Lots of stability fixes.
![shot0000](https://user-images.githubusercontent.com/32795552/97128453-a9d95000-173c-11eb-9322-ead6b5f2fbf2.png)

[2020-10-26 03:07] ghost opened #400 "N.E.X.T Clan Key register not correctly"
I got the Key from the FSM finished Epic.
The Clan cant be find in the Citycom, and not on Website.
Only few features from the Clanadmin menue are working.
Outpost Hacking Works.

Clan Name : eXodus
![shot0006](https://user-images.githubusercontent.com/32795552/97130005-8912f980-1740-11eb-894a-be1e3b2b8fb2.png)

Some Screenshots from the Citycom
![shot0005](https://user-images.githubusercontent.co

[2020-10-26 22:04] dutchmaestro opened #401 "Repair tool causes a server crash"
I was logged in with Rift (monk), using the trade glove and tl75 tool to repair a holy spirit helmet. The correct amount of repair lube was taken from inv. but when the processing window reached 100% myself and another player were kicked. When I logged back in the repair lube was gone which is strange since it only tool 19 out of 200. It was reproducible after trying again the same thing happened.

[2020-10-30 21:27] NCC-Lykos commented on #401
Possible fix in game right now......need you to retest.

[2020-10-30 23:59] dutchmaestro commented on #401
I cant reproduce it anymore, good job :)

On Fri, 30 Oct 2020, 21:28 Lykos, <notifications@github.com> wrote:

[2020-10-31 22:32] #401 closed, assigned to NCC-Therenall

[2020-11-01 16:45] NCC-Lykos commented on #398
Fixed.

[2020-11-01 16:45] #398 closed, assigned to NCC-Lykos, NCC-Therenall

[2020-11-01 16:45] NCC-Lykos commented on #399
Fixed in patch 1.1.11

[2020-11-01 16:45] #399 closed, assigned to NCC-Lykos, NCC-Therenall

[2020-11-02 07:37] ghost commented on #400
Outpost Info Shows Clan Scanning and the clan is not receive money. Outpost Edit Security works.
![shot0003](https://user-images.githubusercontent.com/32795552/97841677-a0c12380-1ce6-11eb-8b2c-162104a0afd8.png)

[2020-11-02 07:43] ghost opened #402 "Citycom: Neocronicle/StockX"
The categories Neocronicle and StockX in the Citycom are useless why dont remove it ?

Neocronicle:
![shot0000](https://user-images.githubusercontent.com/32795552/97842123-673ce800-1ce7-11eb-8090-c25fe5e2fd2d.png)
StockX:
![shot0001](https://user-images.githubusercontent.com/32795552/97842139-6c9a3280-1ce7-11eb-9187-a46d523bd91c.png)

[2020-11-02 07:55] ghost commented on #400
INFO CLAN MYCLAN dont work
![shot0000](https://user-images.githubusercontent.com/32795552/97843194-2940c380-1ce9-11eb-8760-201e588c6a15.png)

[2020-11-02 08:02] ghost opened #403 "Citycom: Info/Runner/SearchbyFaction"
The Option in the Citycom Info/Runner/SearchbyFaction dont work. It Shows no Players.

![shot0000](https://user-images.githubusercontent.com/32795552/97843657-f77c2c80-1ce9-11eb-95b5-035fe3ca2750.png)

![shot0001](https://user-images.githubusercontent.com/32795552/97844036-94d76080-1cea-11eb-9585-e32e1d4e8e31.png)

[2020-11-02 08:08] ghost commented on #403
Info/Politics shows 0 players in faction
![shot0002](https://user-images.githubusercontent.com/32795552/97844196-e41d9100-1cea-11eb-914d-82011328b063.png)

[2020-11-03 03:33] ghost commented on #113
Rottenbox can fly at the new MB next to the psi traders see screenshot
![shot0000](https://user-images.githubusercontent.com/32795552/97947448-90b04f00-1d8d-11eb-85f4-e675e3cafb77.png)

[2020-11-03 03:35] ghost commented on #113
you cant sit on the chair next to the psi traders in the MB
![shot0001](https://user-images.githubusercontent.com/32795552/97947597-04eaf280-1d8e-11eb-8a42-f2d168b9cb66.png)

[2020-11-03 03:37] ghost commented on #113
trashcan is a rusty box downstairs in the MB
![shot0002](https://user-images.githubusercontent.com/32795552/97947665-467b9d80-1d8e-11eb-9208-4874290a47eb.png)

[2020-11-03 14:47] ghost commented on #400
clan is getting money now from ops... how the money system works ?? the clan gets money from useing the genrep or what? after 2days i got now 1.8k on clan money seems like someone used the genrep i dont know

[2020-11-04 02:46] ghost opened #404 "Military Base Sewer Entrance"
There is a hidden Military Base Sewer Entrance inside the walls... when you enter the militarybase on the left side at the yos trader next to appartments Barracks 2
![shot0000](https://user-images.githubusercontent.com/32795552/98063124-979f9600-1e4f-11eb-865d-1c202fe56328.png)

[2020-11-04 02:56] ghost commented on #404
when you leave the hidden sewer you spawn next to a lvl 1 sewer... see screenshot for exit location
![shot0001](https://user-images.githubusercontent.com/32795552/98064024-a38c5780-1e51-11eb-9441-697684940825.png)

[2020-11-04 04:08] ghost opened #405 "Reload stuck at 00:00"
when the 00:00 reset hits while you shoot/have a gun in hands the gun get stuck and you cant reload your weapon. It happend 2 times with Cannons in the Aggi Cellar Plaza 3

[2020-11-04 15:36] NCC-Lykos commented on #404
Resolved in future patch

[2020-11-04 15:36] #404 closed, assigned to nobody

[2020-11-04 15:37] NCC-Lykos commented on #400
Would have to investigate. Not the place for this discussion though.

[2020-11-04 15:46] NCC-Lykos commented on #396
Fixed in future patch

[2020-11-04 15:46] #396 closed, assigned to nobody

[2020-11-04 16:04] NCC-Lykos commented on #393
Fixed in future patch

[2020-11-04 16:04] #393 closed, assigned to nobody

[2020-11-04 16:21] NCC-Lykos commented on #389
Fixed rotation of NPCs but did not add a door....will come back to that later during faction HQ refresh.

[2020-11-04 16:21] #389 closed, assigned to nobody

[2020-11-04 18:19] NCC-Lykos commented on #388
Fixed in future patch

[2020-11-04 18:19] #388 closed, assigned to nobody

[2020-11-04 18:21] NCC-Lykos commented on #387
Fixed in future patch

[2020-11-04 18:21] #387 closed, assigned to nobody

[2020-11-04 18:22] NCC-Lykos commented on #386
Should have correct rotation -- cannot reproduce.

[2020-11-04 18:22] #386 closed, assigned to nobody

[2020-11-04 19:43] Moerdog opened #406 "slip dungeon"
Hello, I found a slip entrance to a dungeon.
In MB, if you go in from outside, the left Yo Shop room.

[2020-11-04 19:44] Moerdog commented on #406
![grafik](https://user-images.githubusercontent.com/73964221/98160430-7c2f9c00-1ede-11eb-868e-47ed89c92305.png)

[2020-11-05 04:19] ghost commented on #386
@NCC-Lykos it is easy to reproduce. Talk to them and they faceing the right way... leave the zone and get back there and this guys watching the wall again :)

[2020-11-05 04:21] hazuk commented on #113
@NCC-Lykos New Issues inside this thread :)

[2020-11-23 07:54] ghost opened #407 "144Hz / 165Hz Monitor"
when i set my monitor to 144Hz / 165Hz the fps limit will raise up to 170 and i get massive fps jumpes from 170-120 big ingame lags.

on 144hz/165hz with FPS LIMIT set to 60 the fps will jump from 58-62 all the time and the lags are like without limit

on 60hz i get constantly 62 fps(nvidia fps limit off)

[2020-11-23 07:56] hazuk commented on #407
on 60hz i get constantly 62 fps(nvidia fps limit off)

[2021-02-22 10:38] #407 closed, assigned to nobody

[2021-10-26 21:18] NCC-Lykos commented on #373
We cannot recreate this at this time, closing.

[2021-10-26 21:18] #373 closed, assigned to nobody

[2021-10-26 21:18] NCC-Lykos commented on #372
This cannot be recreated at this time, assuming fixed. Closing.

[2021-10-26 21:18] #372 closed, assigned to NCC-Therenall

[2021-10-26 21:19] NCC-Lykos commented on #370
This was a direct account issue, fixed and closing.

[2021-10-26 21:19] #370 closed, assigned to NCC-Therenall

[2021-10-26 21:19] NCC-Lykos commented on #365
Unable to recreate, may be fixed. Closing.

[2021-10-26 21:19] #365 closed, assigned to NCC-Therenall

[2021-10-26 21:19] #353 closed, assigned to nobody

[2021-10-26 21:19] NCC-Lykos commented on #330
Drones are disabled at this time, will be fixed when drones are reworked.

[2021-10-26 21:19] #330 closed, assigned to nobody

[2021-10-26 21:20] NCC-Lykos commented on #310
Closing this issue, if any remain please test first and then open a new issue.

[2021-10-26 21:20] #310 closed, assigned to NCC-Lykos

[2021-10-26 21:20] NCC-Lykos commented on #243
Unable to recreate, likely sync issue.

[2021-10-26 21:20] #243 closed, assigned to nobody

[2021-10-26 21:20] NCC-Lykos commented on #240
Cannot reproduce at this time. Closed.

[2021-10-26 21:20] #240 closed, assigned to nobody

[2021-10-26 21:22] NCC-Lykos commented on #169
This is a very old issue and lots of code has changed. Cannot reproduce.

[2021-10-26 21:22] #169 closed, assigned to nobody

[2021-11-02 14:16] NCC-Lykos commented on #394
This has been fixed for next patch.

[2021-11-02 14:16] #394 closed, assigned to nobody

[2021-11-02 14:16] NCC-Lykos commented on #364
This has been fixed for next patch.

[2021-11-02 14:16] #364 closed, assigned to nobody

[2021-11-02 14:17] NCC-Lykos commented on #350
This has been fixed for next patch.

[2021-11-02 14:17] #350 closed, assigned to nobody

[2021-11-02 14:17] NCC-Lykos commented on #336
This has been fixed for next patch.

[2021-11-02 14:17] #336 closed, assigned to nobody

[2021-11-02 14:17] NCC-Lykos commented on #265
This has been fixed for next patch.

[2021-11-02 14:17] #265 closed, assigned to nobody

[2021-11-02 14:17] NCC-Lykos commented on #211
This has been fixed for next patch.

[2021-11-02 14:17] #211 closed, assigned to nobody

[2021-11-02 14:17] NCC-Lykos commented on #202
This has been fixed for next patch.

[2021-11-02 14:17] #202 closed, assigned to nobody

[2021-11-02 14:17] NCC-Lykos commented on #178
This has been fixed for next patch.

[2021-11-02 14:17] #178 closed, assigned to NCC-Lykos

[2021-11-02 14:17] NCC-Lykos commented on #175
This has been fixed for next patch.

[2021-11-02 14:17] #175 closed, assigned to nobody

[2021-11-02 14:17] NCC-Lykos commented on #134
This has been fixed for next patch.

[2021-11-02 14:17] #134 closed, assigned to nobody

[2021-11-02 14:49] NCC-Lykos commented on #402
They are placeholders for now. We have plans to do something with those areas, it will just take time.

Closing as not a bug.

[2021-11-02 14:49] #402 closed, assigned to nobody

[2021-11-02 14:58] #363 closed, assigned to nobody

[2021-11-02 15:24] NCC-Lykos commented on #236
We cannot reproduce this, so may be fixed.

[2021-11-02 15:24] #236 closed, assigned to nobody

[2021-11-02 15:25] NCC-Lykos commented on #180
This should be fixed now with next patch.

[2021-11-02 15:25] #180 closed, assigned to nobody

[2021-11-02 15:26] NCC-Lykos commented on #176
The tutorial will get love someday. Closed as not current bug.

[2021-11-02 15:26] #176 closed, assigned to nobody

[2021-11-02 15:27] NCC-Lykos commented on #170
This should be fixed now.

[2021-11-02 15:27] #170 closed, assigned to nobody

[2021-11-02 15:28] NCC-Lykos commented on #162
This is a hard one to decide if its a bug or if its a "feature".

If we fix it, it will open the door to a lot of new things... if we don't, it will be reported on forever.

I suppose the solution is to make all mobs drop agro on the target once it hits stealth.

[2021-11-02 15:30] NCC-Lykos commented on #136
These should all be fixed, we've also quit using the "New" models.

[2021-11-02 15:30] #136 closed, assigned to nobody

[2021-11-06 00:00] ghost opened #408 "Borderless & 2560*1440 Mode Login Screen"
In Borderless & 2560*1440 Resolution The login screen is messed up the Viarosse Picture is Zoomed in... I Cant Test how it looks when im ingame because Server is currently Offline.

![image](https://user-images.githubusercontent.com/32795552/140590210-c4b4a157-3911-4324-b10d-7363a424f3ed.png)

[2021-11-08 15:25] NCC-Lykos commented on #408
This has already been fixed for a new patch.

[2021-11-08 15:25] #408 closed, assigned to nobody

[2021-11-08 15:27] NCC-Lykos commented on #406
Fixed in future patch.

[2021-11-08 15:27] #406 closed, assigned to NCC-Lykos

[2021-11-08 15:35] NCC-Lykos commented on #397
Cannot reproduce, seems to be fixed.

[2021-11-08 15:35] #397 closed, assigned to NCC-Lykos

[2021-11-08 16:14] #326 closed, assigned to nobody

[2021-11-08 18:14] NCC-Lykos commented on #325
Fixed in next patch

[2021-11-08 18:14] #325 closed, assigned to NCC-Atlas

[2021-11-09 23:30] ncc-zodiac commented on #368
Processor result window can only hold a single item not a stack of items. Additional stacks of ammo created through recycling  now are sent to inventory.

[2021-11-09 23:30] #368 closed, assigned to nobody

[2021-11-09 23:32] ncc-zodiac commented on #356
Fixed

[2021-11-09 23:32] #356 closed, assigned to nobody

[2021-11-09 23:32] ncc-zodiac commented on #377
RPOS

[2021-11-09 23:33] ncc-zodiac commented on #287
Flawed tool gel usage algorithm rewritten. fixed.

[2021-11-09 23:33] #287 closed, assigned to nobody

[2021-11-09 23:36] ncc-zodiac commented on #338
Tested and confirmed all state effects transfer across zone lines. including ppu sanctums.

[2021-11-09 23:36] #338 closed, assigned to nobody

[2021-11-24 06:49] NCC-Lykos commented on #289
This is not a balance issue, this is the NPC having the wrong loot table assigned to it.

[2021-11-24 06:51] NCC-Lykos commented on #264
This needs to be retested since adjustments were made to calculations of armor and con points.

[2021-11-24 06:53] NCC-Lykos commented on #253
#214

[2021-11-24 06:53] #253 closed, assigned to nobody

[2021-11-24 06:55] NCC-Lykos commented on #188
This is technically a bug and was filed correctly originally. Targeting was always pistol and Distance was always rifle. Needs to be corrected, not balanced.

[2021-11-24 06:56] NCC-Lykos commented on #150
First we need to validate that the calculations around Barter are happening properly in the source. We have found that calculations were loose and wild in MANY other places so it would not be surprising that this is one of those cases.

[2021-11-24 06:57] NCC-Lykos commented on #267
This needs to be verified again, and then the proper damage type needs to be assigned to the Terrormaulers attacks.

[2022-08-25 01:52] NCC-Lykos commented on #391
All of these models have been updated.

[2022-08-25 01:52] #391 closed, assigned to NCC-Camarogue

[2022-08-25 13:28] NCC-Lykos commented on #234
This is fixed in a new launcher build to be released.

[2022-08-25 13:28] #234 closed, assigned to nobody

[2022-08-27 06:18] ghost commented on #377
Fixed.
-G

[2022-08-27 06:18] #377 closed, assigned to nobody

[2022-08-27 06:18] ghost commented on #358
Fixed.
-G

[2022-08-27 06:18] #358 closed, assigned to nobody

[2022-08-27 09:53] ghost commented on #187
Fixed.
-G

[2022-08-27 09:53] #187 closed, assigned to nobody

[2022-08-29 15:05] NCC-Lykos commented on #392
Removed vendors, they are leftover from FSM

[2022-08-29 15:05] #392 closed, assigned to nobody

[2022-08-29 15:09] NCC-Lykos commented on #379
Unable to reproduce, I was able to crouch and move out of the way. We will add a reset_position point to this map.

[2022-08-29 15:09] #379 closed, assigned to nobody

[2022-08-29 18:09] NCC-Lykos commented on #383
Fixed

[2022-08-29 18:09] #383 closed, assigned to nobody

[2022-08-29 18:11] NCC-Lykos commented on #378
No more chair

[2022-08-29 18:11] #378 closed, assigned to nobody

[2022-08-29 18:34] NCC-Lykos commented on #376
Hidden item in the DAT -- Need to check later.

[2022-08-30 06:07] ghost commented on #81
Fixed.
-G

[2022-08-30 06:07] #81 closed, assigned to nobody

[2022-08-30 15:14] NCC-Lykos commented on #369
Fixed

[2022-08-30 15:14] #369 closed, assigned to NCC-Lykos

[2022-08-30 15:21] NCC-Lykos commented on #366
Fixed

[2022-08-30 15:21] #366 closed, assigned to nobody

[2022-08-31 19:43] ghost commented on #199
This is being fixed.
-G

[2022-08-31 19:43] #199 closed, assigned to nobody

[2022-09-04 04:05] #31 closed, assigned to NCC-Lykos, NCC-Atlas, NCC-Camarogue

[2022-09-08 02:27] Robo-Combyte opened #409 "LE Chip not working against Player Damage"
It seems that after a little experiment gone wrong here, I was able to kill my Sister with our LE chips in... When I saw some damage numbers fly and she died, I did not incur any penalties either for killing a Friendly Faction within a City Sector. Also note in the image, her name shows as if she is not wearing an LE when she is in fact wearing one right now...
![image](https://user-images.githubu

[2022-09-08 18:36] #30 closed, assigned to nobody

[2022-09-13 05:54] #88 closed, assigned to NCC-Lykos, NCC-Atlas

[2022-09-13 05:55] #403 closed, assigned to nobody

[2022-09-14 21:34] nIdzzlll opened #411 "D 09 Crest Uplink YO’s trader sells single item"
Location: D 09 Crest Uplink
Contact Yo’s Pawn Shop Outpost Equipment
[Tested 2022-09-12]

![D 09 Crest Uplink-map](https://user-images.githubusercontent.com/113188846/190266704-8ce8f7d0-ba03-424d-9d0f-c3e17c8b71b7.jpg)

Issue: Trader only sells a TL30 Hacktool. Trade window is scrollable but only one item is listed.

![D 09 Crest Uplink Trader](https://user-images.githubusercontent.com/113188846/1

[2022-09-15 01:50] ghost commented on #411
This is not a bug, and is intended. Each outpost has an NPC that sells items related to that particular type of outpost. I'll get some more stuff added to this group, but the overall seller is intended.

[2022-09-15 01:50] #411 closed, assigned to nobody

[2022-09-16 15:04] DaSaints opened #418 "Implants Disappear on Death"
Character: DaSaintz (Tank)
Time: ~10:59 - 11:01 AM EST  Sept 16, 2022

Died and upon GR respawn all implants were gone and did not reappear in inventory.  This is the 2nd  time occurrence.

[2022-09-16 19:19] NCC-Therenall commented on #418
I've been overhauling the item storage for the last week. hopefully that will fix whatever this is. It's fixed a few other bugs so far.

[2022-09-16 19:21] NCC-Therenall commented on #409
Pretty sure this was fixed.

[2022-09-16 19:21] #409 closed, assigned to nobody

[2022-09-17 18:23] #261 closed, assigned to nobody